<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>DoubleSlider component</title>
  <link rel="stylesheet" href="/online-store/src/components/double-slider/01-css-task/style2.css">

</head>
<body>
<main>
<div class="wrapper">

  <div class="slidecontainer">
      <input type="range"  min="1" max="200" value="100" class="slider" id="myRange">
     <img src="/online-store/src/components/double-slider/01-css-task/Vector1.svg" alt="vector1">
  </div>
</div>





</main>
</body>
</html>
