<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>DoubleSlider component</title>
  <link rel="stylesheet" href="style.css">

  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
<main>
  <div class="slider">
    <div class="slide">
      <img src="./images/slider-left.svg" alt="" />
      <div class="slide-line"></div>
      <img src="./images/slider-right.svg" alt="" />
    </div>
    <div class="slider-text">
      <p class="slider-text-left">0 UAH</p>
      <p class="slider-text-right">85000 UAH</p>
    </div>
  </div>
</main>
</body>
</html>
