<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>DoubleSlider component</title>
  <link rel="stylesheet" href="style.css">

  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
<main>
  <div class="wrapper">
      <div class="wrapper-range">
        <div class="filter-range">
          <div class="filter-range-scale">
            <div class="filter-range-bar"></div>
          </div>
          <span class="filter-range-handle min"></span>
          <span class="filter-range-handle max" style="left: 99%;"></span>
        </div>
      </div>
    
      <div class="filter-interval">
        <span class="from">100</span>
        <span class="to">200</span>
      </div>
  </div>
</main>
</body>
</html>
