/* put your styles in this file */
.range-slider {
  display: flex;
  position: relative;
  align-items: center;
}
.slider-wrapper {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-line {
  background-color: #7E72F2;
  width: 212px;
  height: 4px;
  display: block;
}

.slider-thumb {
  display: block;
  width: 6px;
  height: 18px;
  border: 1px solid #C2CFE0;
  cursor:grab;
  border-radius: 50%;
}

.range {
  position: absolute;
  top: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  color: #2C2C2C;
}

.range-from {
  left: 0;
}

.range-to {
  right: 0;
}
