.blok-rama {
  /* outline: 1px solid; */
width: 320px;
height: 400px;
margin: 0 auto;
margin-top: 20px;
border-radius: 11px;
box-shadow:0 0 10px #555;}

  .blok-img {
  /* outline: 1px solid; */
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;}

  .img-dimen {
    /* object-fit: cover; */
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;}

  .blok-zv-cn {
    /* outline: 1px solid; */
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;}

    .blok-zvezda {outline: 1px solid;
      background: #7E72F2;
      border-radius: 5%;
      width: 70px;
      height: 30px;
      margin-left: 21px;
      color: white;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;}
    .corect1{margin: 2px;}
    .blok-zvezda:hover{outline: 2px solid #00BFFF;}
    .blok-zvezda:hover .corect1{color: #00CED1;}
    .blok-zvezda:hover .corect2{color: #00CED1;}

    .blok-cena {
      /* outline: 1px solid; */
      width: 50px;
      height: 30px;
      margin-right: 21px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;}

  .blok-naz {
    /* outline: 1px solid; */
    height: 12%;
    width: 100%;
    font-size: 17px;
    display: flex;
    align-items: center;}
    .corect3{margin-left: 21px;}

  .typ {
    /* outline: 1px solid; */
    height: 9%;
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;}
    .corect4{margin-left: 21px;}

  .blok-add {
    /* outline: 1px solid; */
    background: #7E72F2;
    border-radius: 0 0 8px 8px;
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;}
    .corect5{font-size: 14px; color: white;}
    .knop:hover {outline: 2px solid #00BFFF;}
    .knop:hover .corect5{color: #00CED1;}
