<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SideBar component</title>
  <link rel="stylesheet" href="../../styles/style.css">

  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
  <main>
    <div class="wrapper">
      <div class="side-bar">
        <div class="side-bar__wrapper">
          <div class="side-bar__price">
            <div class="title">Price</div>
            <div id="slider-wrapper-1" class="slider">
              <div class="slider__track"></div>
              <input type="range" min="0" max="85000" value="0" class="slider__thumb slider-1">
              <input type="range" min="0" max="85000" value="85000" class="slider__thumb slider__thumb_right slider-2">
              <div class="slider__values">
                <div class="slider__price-start">
                  <span class="range-1">
                    0
                  </span>
                  UAH
                </div>
                <div class="slider__price-end">
                  <span class="range-2">
                    85000
                  </span>
                  UAH
                </div>
              </div>
            </div>
          </div>
          <div class="side-bar__category">
            <div class="title">Category</div>
            <label for="check1">
              <div class="filter">
                <input type="checkbox" id="check1">
                <span>Monitors</span>
              </div>
            </label>
            <label for="check2">
              <div class="filter">
                <input type="checkbox" id="check2">
                <span>Laptops</span>
              </div>
            </label>
            <label for="check3">
              <div class="filter">
                <input type="checkbox" id="check3">
                <span>Video cards</span>
              </div>
            </label>
          </div>
          <div class="side-bar__brand">
            <div class="title">Brand</div>
            <label for="check4">
              <div class="filter">
                <input type="checkbox" id="check4">
                <span>Asus</span>
              </div>
            </label>
            <label for="check5">
              <div class="filter">
                <input type="checkbox" id="check5">
                <span>Acer</span>
              </div>
            </label>
            <label for="check6">
              <div class="filter">
                <input type="checkbox" id="check6">
                <span>Apple</span>
              </div>
            </label>
          </div>
          <div class="side-bar__rating">
            <div class="title">Rating</div>
            <div id="slider-wrapper-2" class="slider">
              <div class="slider__track"></div>
              <input type="range" min="0" max="5" value="0" step="0.01" class="slider__thumb slider-1">
              <input type="range" min="0" max="5" value="5" step="0.01" class="slider__thumb slider__thumb_right slider-2">
              <div class="slider__values">
                <div class="slider__price-start">
                  <span class="range-1">
                    0
                  </span>
                </div>
                <div class="slider__price-end">
                  <span class="range-2">
                    5
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="button button_filters">Clear all filters</button>
      </div>
    </div>
  </main>

  <script src="../double-slider/index.js"></script>
</body>
</html>
