<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Pagination</title>
</head>
<body>
  <div class="pagination">
    <a href="#"><img src="icons/chevron-left.svg"></a>
    <span class="pagination__options">
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">9</a>
      <a href="#">10</a>
      <a href="#">11</a>
      <a href="#">12</a>
    </span>
    <a href="#"><img src="icons/chevron-right.svg"></a>
  </div>
</body>
</html>
