<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>HTML/CSS Pagination</title>
    <link rel="stylesheet" href="/components/pagination/style-pagination.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap" rel="stylesheet">

    <body>
        <main>
            <div class="os-product-footer">
                <ul class="os-pagination">
                    <li class="left-page-link">
                        <</li>
                            <li class="page-link-active">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li class="right-page-link">></li>
                </ul>
            </div>

        </main>
    </body>
