<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="pagination.css" />
    <title>HTML/CSS Pagination component</title>
  </head>
  <body>
    <footer>
      <div class="pagination">
        <button class="btn-switch left-switch">&lt;</button>
        <button class="btn-switch">1</button>
        <button class="btn-switch">2</button>
        <button class="btn-switch">3</button>
        <button class="btn-switch">4</button>
        <button class="btn-switch">5</button>
        <button class="btn-switch">6</button>
        <button class="btn-switch">7</button>
        <button class="btn-switch">8</button>
        <button class="btn-switch">9</button>
        <button class="btn-switch">10</button>
        <button class="btn-switch">11</button>
        <button class="btn-switch">12</button>
        <button class="btn-switch right-switch">&gt;</button>
      </div>
    </footer>
  </body>
</html>
