<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="pagination.css" />
    <title>HTML/CSS Pagination component</title>
  </head>
  <body>
    <footer>
      <div class="pagination">
        <ul>
        <li class="link-switch left-switch">&lt;</li>
        <li class="link-switch"><a href="#">1</a></li>
        <li class="link-switch"><a href="#">2</a></li>
        <li class="link-switch"><a href="#">3</a></li>
        <li class="link-switch"><a href="#">4</a></li>
        <li class="link-switch"><a href="#">5</a></li>
        <li class="link-switch"><a href="#">6</a></li>
        <li class="link-switch"><a href="#">7</a></li>
        <li class="link-switch"><a href="#">8</a></li>
        <li class="link-switch"><a href="#">9</a></li>
        <li class="link-switch"><a href="#">10</a></li>
        <li class="link-switch"><a href="#">11</a></li>
        <li class="link-switch"><a href="#">12</a></li>
        <li class="link-switch right-switch">&gt;</li>
      </ul>
      </div>
    </footer>
  </body>
</html>
