
.wrapper {
  width: 790px;
  height: 205px;
  margin: 100px auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Chevron-left{
  border: 1px solid #EDEDED;
  border-radius: 50%;
  background-color: #EDEDED;
  display: flex;
}

.Chevron-right{
  border: 1px solid #EDEDED;
  border-radius: 50%;
  background-color: #EDEDED;
  display: flex;
}

.Buttons{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #EDEDED;
  padding:unset;
  margin-right: -4px;
}
.Border-off{
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.Buttons:hover{
  color: #fff;
  background-color: #7E72F2;
}
.Border-off:hover{
  color: #fff;
  background-color: #7E72F2;
}




