.wrapper {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 790px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #EDEDED;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.left-arrow:hover {
  background: #7E72F2;
  color: #EDEDED;
}
.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #EDEDED;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.right-arrow:hover {
  background: #7E72F2;
  color: #EDEDED;
}
.rounds {
  display: flex;
  margin: 0px 20px 0px 20px;
}
.page1,.page2,.page3,.page4,.page5,.page6,.page7,.page8,.page9,.page10,.page11,.page12 {
background: #EDEDED;
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.page1:hover,.page2:hover,.page3:hover,.page4:hover,.page5:hover,.page6:hover,.page7:hover,.page8:hover,.page9:hover,.page10:hover,.page11:hover,.page12:hover{
  background: #7E72F2;color: #EDEDED;
}
