.wrapper {
  background-color: #FFFFFF;
  width: 790px;
  height: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E6E6E6;
}
.shop-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-pagination a {
  line-height: 1;
  text-decoration: none
}

.shop-pagination .previous,
.shop-pagination .next {
  color: #000
}

.shop-pagination .previous {
  margin-right: 15px
}

.shop-pagination .next {
  margin-left: 15px
}

.shop-pagination .page-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 20px
}

.shop-pagination .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ededed;
  border-radius: 20px;
  color: #2c2c2c;
  transition: .3s
}

.shop-pagination .page-link:hover,
.shop-pagination .page-link.active {
  background-color: #7e72f2;
  color: #fff
}

