.online-store {
  width: 100%;
  position: relative;
}

.wrapper-container {
  padding-top: 20px;
  width: 67.7%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Card product */
.wrapper-cards-product {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .card-product {
    width: 24.4%;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.133);
    border-radius: 9px;

    .wrapper-main-info {
      padding: 12px 18px 0 18px;

      .wrapper-image {
        width: 100%;

        .img {
          max-width: 100%;
          width: 100%;
        }
      }

      .wrapper-price {
        display: flex;
        justify-content: space-between;
        padding: 22px 0 18px 0;

        .wrapper-button-rating {
          width: 70px;
          height: 27px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: #7E72F2;
          border-radius: 4px;
          cursor: pointer;

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 14px;
            color: #FFFFFF;
          }
        }
      }

      .wrapper-info-product {
        width: 100%;
        padding-bottom: 10px;

        p {
          font-size: 16px;
        }
      }

      .wrapper-category {
        width: 100%;
        padding-bottom: 22px;

        p {
          font-size: 12px;
        }
      }
    }

    .wrapper-button {
      width: 100%;

      .add-btn {
        height: 40px;
        width: 100%;
        text-transform: uppercase;
        font-size: 16px;
        color: white;
        background: #7E72F2;
        border: none;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        cursor: pointer;
      }
    }
  }
}

/* End Card product */