<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FiltersList component</title>
  <link rel="stylesheet" href="style.css">

  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
<div>
  <div class="wrapper">
    <!-- FiltersList component -->
    <p class="category">Category</p>
    <div class="check">
      <div>

        <label class="checkbox" for="Cell-phone">
          <input type="checkbox" id="Cell-phone" name="Cell-phone" checked/>
          <span>Cell phone</span>
        </label>
      </div>
      <div>

        <label class="checkbox" for="Computers&Tables">
          <input type="checkbox" id="Computers&Tables" name="Computers&Tables" checked/>
          <span>Computers&Tables</span>
        </label>
      </div>
    </div>

</div>
</main>
</body>
</html>
