*{
  color: #2C2C2C;
  text-decoration: none;
  list-style-type: none;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}
.wrapper {
  margin: 100px auto;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-link{
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background-color: #EDEDED;
}
.selected-page,
.page-link:hover{
  color: white;
  background-color: #7E72F2;
}
.page-link:hover > i{
  color: white;
}
.pages-list{
  padding: 0;
  margin: 0 15px;
  display: flex;
  flex-direction: row;
}
