<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart component</title>
  <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>
  <main>
    <div class="overlay">
      <div class="cart">
        <i class="cart__close icon-close"></i>
        <ul class="cart__list">
          <li class="cart__list-item">
            <img src="../../img/notebook_acer_aspire_3_small.jpg" alt="notebook" class="cart__item-img">
            <div class="cart__item-descr">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
            <div class="cart__item-count">
              <button class="cart__btn"><i class="icon-minus"></i></button>
              <span>1</span>
              <button class="cart__btn"><i class="icon-plus"></i></button>
            </div>
            <div class="cart__item-price">47997</div>
          </li>
          <li class="cart__list-item">
            <img src="../../img/notebook_acer_aspire_3_small.jpg" alt="notebook" class="cart__item-img">
            <div class="cart__item-descr">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
            <div class="cart__item-count">
              <button class="cart__btn"><i class="icon-minus"></i></button>
              <span>1</span>
              <button class="cart__btn"><i class="icon-plus"></i></button>
            </div>
            <div class="cart__item-price">47997</div>
          </li>
          <li class="cart__list-item">
            <img src="../../img/notebook_acer_aspire_3_small.jpg" alt="notebook" class="cart__item-img">
            <div class="cart__item-descr">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
            <div class="cart__item-count">
              <button class="cart__btn"><i class="icon-minus"></i></button>
              <span>1</span>
              <button class="cart__btn"><i class="icon-plus"></i></button>
            </div>
            <div class="cart__item-price">47997</div>
          </li>
        </ul>
        <div class="cart__total">Total: <span>143991</span></div>
        <button class="button button_cart">Order</button>
      </div>
    </div>
  </main>
</body>
</html>
