<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CardList component</title>
  <link rel="stylesheet" href="../../styles/style.css">

</head>
<body>
  <main>
    <div class="card-list">
      <div class="container">
        <div class="row">
          <div class="col-12 col-m-6 col-l-4">
            <div class="product-card">
              <img src="../../img/notebook_acer_aspire_3.jpg" alt="notebook" class="product-card__img">
              <div class="product-card__content">
                <div class="product-card__wrapper">
                  <div class="product-card__rating">
                    <div class="product-card__rating-count">1.23</div>
                    <i class="icon-star"></i>
                  </div>
                  <div class="product-card__price">15999</div>
                </div>
                <div class="product-card__title">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
                <div class="product-card__category">laptops</div>
              </div>
              <button class="button">Add To Cart</button>
            </div>
          </div>
          <div class="col-12 col-m-6 col-l-4">
            <div class="product-card">
              <img src="../../img/notebook_acer_aspire_3.jpg" alt="notebook" class="product-card__img">
              <div class="product-card__content">
                <div class="product-card__wrapper">
                  <div class="product-card__rating">
                    <div class="product-card__rating-count">1.23</div>
                    <i class="icon-star"></i>
                  </div>
                  <div class="product-card__price">15999</div>
                </div>
                <div class="product-card__title">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
                <div class="product-card__category">laptops</div>
              </div>
              <button class="button">Add To Cart</button>
            </div>
          </div>
          <div class="col-12 col-m-6 col-l-4">
            <div class="product-card">
              <img src="../../img/notebook_acer_aspire_3.jpg" alt="notebook" class="product-card__img">
              <div class="product-card__content">
                <div class="product-card__wrapper">
                  <div class="product-card__rating">
                    <div class="product-card__rating-count">1.23</div>
                    <i class="icon-star"></i>
                  </div>
                  <div class="product-card__price">15999</div>
                </div>
                <div class="product-card__title">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
                <div class="product-card__category">laptops</div>
              </div>
              <button class="button">Add To Cart</button>
            </div>
          </div>
          <div class="col-12 col-m-6 col-l-4">
            <div class="product-card">
              <img src="../../img/notebook_acer_aspire_3.jpg" alt="notebook" class="product-card__img">
              <div class="product-card__content">
                <div class="product-card__wrapper">
                  <div class="product-card__rating">
                    <div class="product-card__rating-count">1.23</div>
                    <i class="icon-star"></i>
                  </div>
                  <div class="product-card__price">15999</div>
                </div>
                <div class="product-card__title">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
                <div class="product-card__category">laptops</div>
              </div>
              <button class="button">Add To Cart</button>
            </div>
          </div>
          <div class="col-12 col-m-6 col-l-4">
            <div class="product-card">
              <img src="../../img/notebook_acer_aspire_3.jpg" alt="notebook" class="product-card__img">
              <div class="product-card__content">
                <div class="product-card__wrapper">
                  <div class="product-card__rating">
                    <div class="product-card__rating-count">1.23</div>
                    <i class="icon-star"></i>
                  </div>
                  <div class="product-card__price">15999</div>
                </div>
                <div class="product-card__title">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
                <div class="product-card__category">laptops</div>
              </div>
              <button class="button">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
