@import '../../../../../grid/media-query-grid/css/grid.css';
@import '../../../../../grid/media-query-grid/css/media-grid.css';
@import '../../../card/01-css-task/css/style.css';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.card-list-wrapper .container {
    margin-top: 0;
}

.product {
  margin: 20px auto 0 auto;
}



