body {
  height: 100vh;
  width: 100vw;
  font-family:'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#2C2C2C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 317px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.133);
  border-radius: 3px;
}

.content {
  padding: 22px 24px 24px 16px;
  flex-grow: 1;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.img {
  height: 200px;
  width: 293px;
  margin-bottom: 22px;
}

.info {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 16px;
}
.info2{
  margin-bottom: 10px;
  font-size: 10px;
}

button {
  background-color: #7E72F2;
  border: none;
  color: white;
  cursor: pointer;
}

.star {
  padding: 8px 11px;
  border-radius: 3px;
}

.add {
  height: 40px;
}
