label {
  cursor: pointer;
  font-size: 15px;
}

.filters-list {
  width: 280px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
}

.form-title {
  margin: 15px 0 10px 15px;
}

.filter {
  margin: 6px 0 0 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.check {
  width: 20px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  appearance: none;
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
}

.check[type='checkbox']:checked {
  background: #7E72F2;
  border: none;
}

.check[type='checkbox']::after {
  content: "\e902";
  font-family: 'icomoon';
  font-size: 10px;
  color: #fff;
  display: none;
}

.check[type='checkbox']:checked::after {
  display: block;
}
