@import 'libs/flex-grid';
@import 'libs/media-query-grid';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@import 'blocks/product-card';
@import 'blocks/buttons';
@import 'blocks/pagination';
@import 'blocks/cards-list';
@import 'blocks/cart';
@import 'blocks/double-slider';
@import 'blocks/media';
