@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import 'libs/fonts';

@import 'libs/flex-grid';
@import 'libs/media-query-grid';

@import 'base/variables';
@import 'base/mixins';

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #f9f9f9;
}

@import 'blocks/product-card';
@import 'blocks/buttons';
@import 'blocks/pagination';
@import 'blocks/cards-list';
@import 'blocks/cart';
@import 'blocks/double-slider';
@import 'blocks/filters-list';
@import 'blocks/search-box';
@import 'blocks/media';
