<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FiltersList component</title>
  <link rel="stylesheet" href="style.css">
  <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
<main>
  <div class="wrapper">
    <div class="filter-list">
      <div class="filter-name">Category</div>
      <div class="filter-checkbox">
        <input type="checkbox" class="variant" name="Cell-phones">
        <label for="Cell-phones">Cell phones</label>
      </div>

      <div class="filter-checkbox">
        <input type="checkbox" class="variant" name="Computer-Tables">
        <label for="Computer-Tables">Computer & Tables</label>  
      </div>
    </div>
  </div>
</main>
</body>
</html>
