<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FiltersList component</title>
  <link rel="stylesheet" href="style_v2.css">
</head>
<body>
  <main>
    <div class="wrapper">

      <div class="blok-slider">SLIDER</div>

      <div class="category">

        <div class="blok-category-brand">Category</div>

        <form action="#">

          <div class="bloks-cat-br">
            <input type="checkbox" name="category" value="Monitors">
            <a href="#" data-element="check-link" class="none-style text-color">Monitors</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="category" value="LapTops">
            <a href="#" data-element="check-link" class="none-style text-color">LapTops</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="category" value="Video cards">
            <a href="#" data-element="check-link" class="none-style text-color">Video cards</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="category" value="Gaming keyboards">
            <a href="#" data-element="check-link" class="none-style text-color">Gaming keyboards</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="category" value="Computer mouse">
            <a href="#" data-element="check-link" class="none-style text-color">Computer mouse</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="category" value="SSD">
            <a href="#" data-element="check-link" class="none-style text-color">SSD</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="category" value="Sound cards">
            <a href="#" data-element="check-link" class="none-style text-color">Sound cards</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="category" value="RAM">
            <a href="#" data-element="check-link" class="none-style text-color">RAM</a>
          </div>

        </form>
      </div>



      <div class="brand">

        <div class="blok-category-brand strip">Brand</div>

        <form action="#">

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="Asus">
            <a href="#" data-element="check-link" class="none-style text-color">Asus</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="Acer">
            <a href="#" data-element="check-link" class="none-style text-color">Acer</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="Apple">
            <a href="#" data-element="check-link" class="none-style text-color">Apple</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="Dell">
            <a href="#" data-element="check-link" class="none-style text-color">Dell</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="Dynamode">
            <a href="#" data-element="check-link" class="none-style text-color">Dynamode</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="Gigabyte">
            <a href="#" data-element="check-link" class="none-style text-color">Gigabyte</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="Kingston">
            <a href="#" data-element="check-link" class="none-style text-color">Kingston</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="Lenovo">
            <a href="#" data-element="check-link" class="none-style text-color">Lenovo</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="Logitech">
            <a href="#" data-element="check-link" class="none-style text-color">Logitech</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="MSI">
            <a href="#" data-element="check-link" class="none-style text-color">MSI</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="BenQ">
            <a href="#" data-element="check-link" class="none-style text-color">BenQ</a>
          </div>

          <div class="bloks-cat-br">
            <input type="checkbox" name="brand" value="A4Tech">
            <a href="#" data-element="check-link" class="none-style text-color">A4Tech</a>
          </div>

        </form>

        <div class="blok-line strip"></div>

      </div>

      <div class="blok-slider">SLIDER</div>







    </div>
  </main>
</body>
</html>
