.wrapper {
  outline: 1px solid black;
  width: 280px;
  height: 700px;
  margin: 0 auto;
}

  .category{
    outline: 1px solid black;
    width: 100%;
    height: 271px;
  }

    .blok-category{
      outline: 1px solid black;
      width: 75%;
      height: 37px;
      margin-left: 20px;
      font-size: 23px;
    }

    .blok-cat{
      outline: 1px solid black;
      width: 75%;
      height: 29px;
      margin-left: 20px;
      display: flex;
      align-items: center;
    }

      .blok-kvad{
        outline: 2px solid black;
        color: white;
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .blok-kvad:hover{background: #7E72F2; }

      .blok-text{list-style: none;
        outline: 1px solid black;
        width: 120px;
        height: 20px;
        margin-left: 15px;
        font-size: 17px;
        color: black;
      }

.none-style{
  text-decoration: none;
  list-style: none;
}

.text-color{
  color: black;
}
