<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FiltersList component</title>
  <link rel="stylesheet" href="../../../styles/style.min.css">

  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
    .btn {
      width: 60px;
      margin-left: 450px;
      background-color: rgb(203, 222, 135);
      text-align: center;
      border: 1px solid black;
      cursor: pointer;
    }
    .btn:hover {
      background-color: rgb(153, 184, 68);
    }

  </style>
</head>
<body>
<main>
  <div id="root" class="wrapper"></div>
  <div id="reset" class="btn"> Reset </div>

  <script type="module">
    import FiltersList from './index.js';

    const list = [
      {
        value: 'cell_phones',
        title: 'Cell phones',
      },
      {
        value: 'computers',
        checked: true,
        title: 'Computers & Tables',
      }
    ];

    const filtersList = new FiltersList({
      title: 'Category',
      list
    });

    root.append(filtersList.element);

    reset.addEventListener('pointerdown', () => {
      filtersList.reset();
    });

    filtersList.element.addEventListener('change', event => {
      console.error('event', event.target.value);
    });
  </script>
</main>
</body>
</html>
