<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>HTML/CSS Card component</title>
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section class="card-shop">
  <div class="card-shop-main">
    <div class="card-shop-img">
      <img src="../../img/notebook.svg" alt="">
    </div>
    <div class="card-shop-price-and-mark">
      <div class="card-shop-mark">
        <p>1.23</p>
        <img src="../../img/ico/star-solid.svg" alt="">
      </div>
      <p class="card-shop-price">15 999</p>
    </div>
    <div class="card-shop-name">
      <a href="#">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</a>
      <p>laptops</p>
    </div>


  </div>
  <button class="card-shop-button">
    ADD TO CART
  </button>
</section>
</body>
</html>
