<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HTML/CSS Card component</title>
    <link rel="stylesheet" href="card-style.css" />
  </head>

  <body>
    <main>
      <div class="wrapper">
        <div class="card-component">
          <img class="product" src="laptop.jpg" alt="laptop" title="laptop" />
          <div class="reiting">
            <button class="gradation">
              <p>2.42</p>
              <img src="Star.svg" alt="star" title="star" />
            </button>
            <div>22999</div>
          </div>
          <div class="description">
            <p>
              Ноутбук Acer Aspire 7 A715-75G-51ZW (NH.Q88EU.00P) Charcoal Black
            </p>
            <p>laptops</p>
          </div>
          <div class="footer">
            <button class="os-btn-primary">ADD TO CART</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
