<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" />
  <title>HTML/CSS Card component</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
 </head>
<body>
<main>
 <div class="product-card">
    <!-- Card component -->
    <img class="product-card-img" src="./img/computer.jpg" alt="laptop">
    <div class="wrapper-content">
      <div class="offer">
        <div class="product-rating">
          <p class="product-rating-number">1.23</p>
          <img class="product-rating-star" src="./img/Star1.svg" alt="star">
        </div>
        <p class="product-price">15999</p>
      </div>
      <p class="product-description">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</p>
      <p class="product-categories">laptops</p>
    </div>
    <button class="btn" type="button">Add To Cart</button>
  </div>
</main>
</body>
</html>