<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>HTML/CSS Card component</title>
  <link rel="stylesheet" href="/online-store/components/card/style2.css">
</head>
<body>
   <main>
      <div class="wrapper">
        <div class="content-container">
          <div class="photo-container">
            <img src="/online-store/components/card/2.jpg" alt="notebook1">
          </div>
            <div class="box">
              <div class="price-box">
                <div class="left-side">
                  <span>1.23</span>
                </div>
                  <div class="right-side">
                    <img src="/online-store/components/card/Star 1.svg" alt="star">
                  </div>
              </div>
                      <div class="price">
                    <span>1599</span>
                        </div>
             </div>


          <div class="description">
            <Div class="tex-1">Acer Aspire 3 A315-57G-336G (NX.HZ.REU.O1S) Charcoal Black</Div>
          </div>
          <div class="lap">Laptops </div>

          <div class="add-card">
            ADD CARD
          </div>

        </div>
      </div>
    </main>
</body>
</html>
