body{
    background-color: #f9f9f9;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    margin: 0;
}
  
.product-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 539px;
    height: 532px;
        
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;   
}

.product-card{
    width: 317px;
    height: 394px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.133);
    border-radius: 8px;
}

.product-img{
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 12px 12px 0;
}

h5{  
    font-size: 13px;
    margin-bottom: 17px;
    color: #2C2C2C;
}
   
.product-content{
    padding: 22px 24px;
}

.price-wrapper{  
    align-items: center;
    display: flex;
    justify-content: space-between;
}  

.rating{
    display: flex;
    width: 70px;
    height: 27px;
    background: #7E72F2;
    border-radius: 3px;
}

span{
    display: flex;
    padding: 6px;
    margin-left: 4px;
    color: #FFFFFF;
}

.bi{ 
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-price{
    margin-left: 151px;
    font-size: 15px;
    color: #2C2C2C;
}

.product-description{
    font-size: 10px;
    line-height: 12px;
    color: #2C2C2C;
}

.product-footer{
    display: flex;
}

.button{
    color: #fff;
    width: 317px;
    height: 40px;
    background: #7E72F2;
    border-radius: 0px 0px 5px 5px;
}
