<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HTML/CSS Card component</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="modal">
    <div class="modal_window">
      <div class="close">
        <p>
          <span></span>
          <span></span>
        </p>
      </div>
      <div class="cart_container">
        <ul class="list_product">
          <li class="item-row"></li>
        </ul>
        <div class="footer">
          <div class="sum_product">
            <spam class="sum">Всего:</spam>
            <spam class="sum_price">0</spam>
          </div>
          <div class="order_product">
            <button>ЗАКАЗ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>