* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 400px;
  margin: 100px auto;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.133);
  border-radius: 8px;
}
.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-img img {
  width: 293px;
  height: 200px;
  margin: 12px 12px 0px;
}
.product-content {
  padding: 22px 24px;
}
.product-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fa-star-o {
  padding-left: 2px;
  color: white;
}
.price {
  color: #2c2c2c;
}

.product-rating {
  background: #7e72f2;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  justify-content: space-between;
  width: 70px;
  height: 27px;
}
.product-rating span {
  color: white;
}
.product-title {
  color: #2c2c2c;
  font-size: 1rem;
  margin-bottom: 10px;
}
.product-description {
  font-size: 0.75rem;
  margin: 0;
}
.btn-add {
  background: #7e72f2;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
}
.btn-add:hover {
  background-color: #6d5ff0;
}
