body {
  background: #ffffff;
}
.wrapper {
  width: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.133);
  border-radius: 8px;
  background: #ffffff;
  flex-wrap: wrap;
}
.cart-img {
  display: flex;
  justify-content: center;
  margin: 12px auto;
  flex-wrap: wrap;
}
.cart-img>img{
  width: 80%;
}
.cart-rating-price-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* outline: 1px solid red; */
}
.cart-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70px;
  height: 30px;
  background: #7e72f2;
  border-radius: 3px;
  flex-wrap: wrap;
}
.cart-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #2c2c2c;
}
.cart-rating-numeric {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
}
.cart-name-laptop {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #2c2c2c;
  padding: 3% 15%;
  text-align: justify;
}
.cart-name-teh {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #2c2c2c;
  padding: 0% 15% 3%;
}
.cart-btn {
  width: 100%;
  height: 40px;
  margin-top: .5rem;
  background: #7e72f2;
  border-radius: 0px 0px 5px 5px;
}
.cart-btn-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 13px;
}
div>a{
  text-decoration-line: none;
}
