<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pagination component</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../fonts.css">
  <link rel="stylesheet" href="../../pagination/01-css-task/css/style.css">
  <style>
    .wrapper {
      width: 800px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
  <div id="root" class="wrapper"></div>

  <script type="module">
    import Pagination from './index.js';
  </script>
</body>
</html>
