<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Pagination component</title>
  <link rel="stylesheet" href=".././01-css-task/style.css">

  <style>
    .wrapper {
      width: 800px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
<main>
  <div id="root" class="wrapper"></div>

  <script type="module">
    import Pagination from './pagination.js';

    const pagination = new Pagination({
      totalPages: 12,
      currentPage: 0
    });

    root.append(pagination.element);

    pagination.element.addEventListener('page-changed', event => {
      console.error('event', event);
    });

    window.pagination = pagination;
  </script>
</main>
</body>
</html>
