<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Card component</title>
  <link rel="stylesheet" href="../../../../components/card/style.css">
  <link rel="stylesheet" href="../../../../components\pagination\style.css">

  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>

<body>

  <div id="root" class="wrapper">

  </div>

  <script type="module">
    import Card from './index.js';
    import CardList from './cards-list.js';
    import Pagination from './pagination.js';
    import { products } from './products.js'
    
    
    const list = new CardList (products);
    
    list.renderCards()

    const pagination = new Pagination({
      activePageIndex: 0
    });

  const someElement = document.querySelector('#root');
   
   
   someElement.append(pagination.element);

   pagination.setPage(0); 
   
 

  
        
    
     
    








    

   

    const card = new Card(product);

    root.append(card.element);
  </script>
</body>
</html>
