:root {
  --var-bg-wrapper: #FFFFFF;
  --var-color-bg-body: #E5E5E5;
  --var-color-hover: #7E72F2;
  --var-color-circle-bg-defolt: #EDEDED;
  --var-color-number: #2C2C2C;
}

.siz {
  background: var(--var-color-circle-bg-defolt);
  width: 1.4rem;
  height: 1.4rem;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px gray;

}

.siz:hover {
  background: var(--var-color-hover);
  border: 1px solid var(--var-color-circle-bg-defolt);
  color: var(--var-color-circle-bg-defolt);
  transition: .3s;
  box-sizing: border-box;
  cursor: pointer;
}

.pagination {
  width: 100%;
  background: var(--var-bg-wrapper);
  color: var(--var-color-number);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.133);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 1rem;
}

.imgP {
  font-weight: 500;
  width: 0.5rem;
}

.numbers {
  width: 100%;
  margin: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
