<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document Component tren</title>
</head>
<body>
  <button id="btn">Click me!</button>

  <script>

// function Car (make, model, year) {
//   this.makess = make;
//   this.modell = model;
//   this.yearr = year;
// }
// let mycar = new Car ("Eagle", "Talon TSI", 1993);
// console.log(mycar);




const patch = 'foo-bar-baz';
const obj = {foo:{bar:{baz:1}}};

function getValue(someObj = {}, somePatch = '') {

  const arr = somePatch.split('-');
  let result;
  for (const item of arr) {
    console.log("item=", item);
    if (result === undefined) {result = someObj[item];}
    else{result = result[item];}
  }
  return result;
}
console.log(getValue(obj, patch));






    // const btnElement = document.querySelector('#btn');


    // // создадим кастомное действие
    // const myEvent = new CustomEvent('foo-bar-baz', {
    //   bubbles: true,
    //   detail: [1, 2, 3]
    // });

    // // создаем действие клика
    // btnElement.addEventListener ('click', event =>{
    //   console.log('event', event);

    //   // отправим дейтсвие далее
    //   btnElement.dispatchEvent(myEvent);
    // });

    // // чтобы прочитать отправленное действие dispatchEvent необходимо задать имя 'foo-bar-baz'
    // document.addEventListener('foo-bar-baz', event =>{
    //   console.log('foo-bar-baz', event);
    // });

  </script>

</body>
</html>
