<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>JS page tren</h1>
    <script>

        // function sum (a=0, b=0){
        //     return a+b;
        // }
        //   // задаем значени через обьект
        // const obj={first:5, second:3};
        // console.log(sum(obj));

        function sum ({first=0, second=0}={}){
            return first + second;
            console.log(first);
        };
          // задаем значени через обьект
      const obj={first:5, second:4};

        console.log(sum(obj));



    </script>






</body>
</html>




</body>
</html>
