<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card-list</title>
  <link rel="stylesheet" href="./css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../fonts.css">
</head>
<body>
  <div class="card-list-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-m-6 col-l-4">
          <div class="product">
            <img src="../../../img/Rectangle.png" class="product__image" alt="Photo">
            <div class="product__content">
              <div class="product__block-rating-and-price">
                <div class="product__rating">
                  <div class="product__rating-count">1.23</div>
                  <i class="icon-star"></i>
                </div>
                <div class="product__price">15999</div>
              </div>
              <div class="product__about">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
              <div class="product__category">laptops</div>
            </div>
            <button class="product__button">ADD TO CART</button>
          </div>
        </div>

        <div class="col-12 col-m-6 col-l-4">
          <div class="product">
            <img src="../../../img/Rectangle.png" class="product__image" alt="Photo">
            <div class="product__content">
              <div class="product__block-rating-and-price">
                <div class="product__rating">
                  <div class="product__rating-count">1.23</div>
                  <i class="icon-star"></i>
                </div>
                <div class="product__price">15999</div>
              </div>
              <div class="product__about">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
              <div class="product__category">laptops</div>
            </div>
            <button class="product__button">ADD TO CART</button>
          </div>
        </div>

        <div class="col-12 col-m-6 col-l-4">
          <div class="product">
            <img src="../../../img/Rectangle.png" class="product__image" alt="Photo">
            <div class="product__content">
              <div class="product__block-rating-and-price">
                <div class="product__rating">
                  <div class="product__rating-count">1.23</div>
                  <i class="icon-star"></i>
                </div>
                <div class="product__price">15999</div>
              </div>
              <div class="product__about">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
              <div class="product__category">laptops</div>
            </div>
            <button class="product__button">ADD TO CART</button>
          </div>
        </div>

        <div class="col-12 col-m-6 col-l-4">
          <div class="product">
            <img src="../../../img/Rectangle.png" class="product__image" alt="Photo">
            <div class="product__content">
              <div class="product__block-rating-and-price">
                <div class="product__rating">
                  <div class="product__rating-count">1.23</div>
                  <i class="icon-star"></i>
                </div>
                <div class="product__price">15999</div>
              </div>
              <div class="product__about">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
              <div class="product__category">laptops</div>
            </div>
            <button class="product__button">ADD TO CART</button>
          </div>
        </div>

        <div class="col-12 col-m-6 col-l-4">
          <div class="product">
            <img src="../../../img/Rectangle.png" class="product__image" alt="Photo">
            <div class="product__content">
              <div class="product__block-rating-and-price">
                <div class="product__rating">
                  <div class="product__rating-count">1.23</div>
                  <i class="icon-star"></i>
                </div>
                <div class="product__price">15999</div>
              </div>
              <div class="product__about">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
              <div class="product__category">laptops</div>
            </div>
            <button class="product__button">ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
