<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../01-css-task/style.css">
</head>

<body>
  <div id="root"></div>

  <script type="module">
    import CardsList from '../../cards-list/02-js-task/cards-list.js';
    import { products } from './products.js'

    const cardsList = new CardsList({
      data: products,
      Component: Card
    });

    root.append(cardsList.element);

    document.addEventListener('add-to-cart', event => {
      console.error(event.detail);
    });
  </script>
</body>
</html>
