@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css);

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  min-height: 480px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.card__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  gap: 20px;
}

.card__img {
  width: 100%;
  min-height: fit-content;
  margin: 0 auto;
  display: block;
}

.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
}

.card__info {
  font-size: 13px;
  font-weight: 400;
  word-break: break-word;
}

.card__rate-and-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__price {
  font-size: 18px;
  font-weight: normal;
}

.card__product--rate {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #6f64f8;
  color: #fff;
  border-radius: 3px;
  width: 65px;
  padding: 7px;
  border: none;
  line-height: 1.2;
}

.card__rate {
  margin-top: -2px;
}

.card__btn {
  background-color: #6f64f8;
  color: #fff;
  padding: 14px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
