<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>CardsList component</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100;300&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body>
<main>
  <div class="wrapper col-m-8 col-l-8">
    <!-- CardsList component -->
    <div class="card-wrapper col-m-6 col-l-4 ">
      <div class="card-component-box col-12">
        <div class="card-content">
          <div class="card-product-image">
            <img src="https://content2.rozetka.com.ua/goods/images/big/163399632.jpg" alt="Product image" class="product-image">
          </div>
          <div class="content-details">
            <div class="product-price-reating-wrapper">
              <div class="card-rating card-purple-elements">
                <span>2.55</span>
                <i class="bi bi-star"></i>
              </div>
              <div class="card-product-price">15999</div>
            </div>

            <div class="card-product-name">
            <p>Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</p>
            </div>
            <div class="card-product-type">
              <p>laptops</p>
            </div>
        </div>
        </div>
        <div>
        <button class="card-add-button card-purple-elements card-cursor-pointer">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-m-6 col-l-4">
      <div class="card-component-box col-12">
        <div class="card-content">
          <div class="card-product-image">
            <img src="https://content2.rozetka.com.ua/goods/images/big/163399632.jpg" alt="Product image" class="product-image">
          </div>
          <div class="content-details">
            <div class="product-price-reating-wrapper">
              <div class="card-rating card-purple-elements">
                <span>2.55</span>
                <i class="bi bi-star"></i>
              </div>
              <div class="card-product-price">15999</div>
            </div>

            <div class="card-product-name">
            <p>Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</p>
            </div>
            <div class="card-product-type">
              <p>laptops</p>
            </div>
        </div>
        </div>
        <div>
        <button class="card-add-button card-purple-elements card-cursor-pointer">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-m-6 col-l-4">
      <div class="card-component-box col-12">
        <div class="card-content">
          <div class="card-product-image">
            <img src="https://content2.rozetka.com.ua/goods/images/big/163399632.jpg" alt="Product image" class="product-image">
          </div>
          <div class="content-details">
            <div class="product-price-reating-wrapper">
              <div class="card-rating card-purple-elements">
                <span>2.55</span>
                <i class="bi bi-star"></i>
              </div>
              <div class="card-product-price">15999</div>
            </div>

            <div class="card-product-name">
            <p>Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</p>
            </div>
            <div class="card-product-type">
              <p>laptops</p>
            </div>
        </div>
        </div>
        <div>
        <button class="card-add-button card-purple-elements card-cursor-pointer">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-m-6 col-l-4">
      <div class="card-component-box col-12">
        <div class="card-content">
          <div class="card-product-image">
            <img src="https://content2.rozetka.com.ua/goods/images/big/163399632.jpg" alt="Product image" class="product-image">
          </div>
          <div class="content-details">
            <div class="product-price-reating-wrapper">
              <div class="card-rating card-purple-elements">
                <span>2.55</span>
                <i class="bi bi-star"></i>
              </div>
              <div class="card-product-price">15999</div>
            </div>

            <div class="card-product-name">
            <p>Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</p>
            </div>
            <div class="card-product-type">
              <p>laptops</p>
            </div>
        </div>
        </div>
        <div>
        <button class="card-add-button card-purple-elements card-cursor-pointer">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-m-6 col-l-4">
      <div class="card-component-box col-12">
        <div class="card-content">
          <div class="card-product-image">
            <img src="https://content2.rozetka.com.ua/goods/images/big/163399632.jpg" alt="Product image" class="product-image">
          </div>
          <div class="content-details">
            <div class="product-price-reating-wrapper">
              <div class="card-rating card-purple-elements">
                <span>2.55</span>
                <i class="bi bi-star"></i>
              </div>
              <div class="card-product-price">15999</div>
            </div>

            <div class="card-product-name">
            <p>Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</p>
            </div>
            <div class="card-product-type">
              <p>laptops</p>
            </div>
        </div>
        </div>
        <div>
        <button class="card-add-button card-purple-elements card-cursor-pointer">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="card-wrapper col-m-6 col-l-4">
      <div class="card-component-box col-12">
        <div class="card-content">
          <div class="card-product-image">
            <img src="https://content2.rozetka.com.ua/goods/images/big/163399632.jpg" alt="Product image" class="product-image">
          </div>
          <div class="content-details">
            <div class="product-price-reating-wrapper">
              <div class="card-rating card-purple-elements">
                <span>2.55</span>
                <i class="bi bi-star"></i>
              </div>
              <div class="card-product-price">15999</div>
            </div>

            <div class="card-product-name">
            <p>Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</p>
            </div>
            <div class="card-product-type">
              <p>laptops</p>
            </div>
        </div>
        </div>
        <div>
        <button class="card-add-button card-purple-elements card-cursor-pointer">Add to cart</button>
        </div>
      </div>
    </div>

  </div>
</main>
</body>
</html>
