.product-list {
    max-width: 990px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-container {
    width: calc 100%;
    height: 400px;
}

@media (max-width: 576px) {
    .col-xs {
        width: calc(100% / 12 * 12);
    }
}

@media (min-width: 576px) {
    .col-s {
        width: calc(100% / 12 * 5.88);
    }
}

@media (min-width: 768px) {
    .col-m {
        width: calc(100% / 12 * 3.88);
    }
}