<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="range.css">
  <title>Range</title>
</head>
<body>
<div class="range-price">
  <p>Price</p>
  <div class="range">
    <span class="left-btn">
      <img src="../../images/slider-btn-icin.svg" alt="slider-btn-icon">
    </span>
    <span class="right-btn">
      <img src="../../images/slider-btn-icin.svg" alt="slider-btn-icon">
    </span>
  </div>
  <div class="price-container">
    <span class="min-price">0 UAH</span>
    <span class="max-price">85000 UAH</span>
  </div>
</div>
 <div class="line">

 </div>
</body>
</html>
