<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="category.css">
  <title>Category</title>
</head>
<body>
<p class="category-title">Category</p>
<div class="category">
  <form class="checkbox-list">
    <div class="checkbox-container">
      <input type="checkbox" class="checkbox" id="category1" name="category1" value="Monitors">
      <label for="category1">Monitors</label>
    </div>
    <div class="checkbox-container">
      <input type="checkbox" class="checkbox" id="category2" name="category2" value="Laptops">
      <label for="category2">Laptops</label>
    </div>
    <div class="checkbox-container">
      <input type="checkbox" class="checkbox" id="category3" name="category3" value="Video cards">
      <label for="category3">Video cards</label>
    </div>
    <div class="checkbox-container">
      <input type="checkbox" class="checkbox" id="category4" name="category4" value="Gamings keyboards">
      <label for="category4">Gamings keyboards</label>
    </div>
    <div class="checkbox-container">
      <input type="checkbox" class="checkbox" id="category5" name="category5" value="Coumputer mouse">
      <label for="category5">Coumputer mouse</label>
    </div>
    <div class="checkbox-container">
      <input type="checkbox" class="checkbox" id="category6" name="category6" value="SSD">
      <label for="category6">SSD</label>
    </div>
    <div class="checkbox-container">
      <input type="checkbox" class="checkbox" id="category7" name="category7" value="Sound cards">
      <label for="category7">Sound cards</label>
    </div>
    <div class="checkbox-container">
      <input type="checkbox" class="checkbox" id="category8" name="category8" value="AMR">
      <label for="category8">RAM</label>
    </div>

  </form>
</div>
<div class="line">
</div>
</body>
</html>
