@import '../../../double-slider/01-css-task/css/style.css';
@import '../../../filters-list/01-css-task/css/style.css';


hr {
  margin-top: 29px;
}

label {
  width: 240px;
}

.side-bar {
  width: 280px;
  min-height: 980px;
  padding: 1px 19px 21px 21px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.filters-list {
  margin-right: 50px;
}

.side-bar__title {
  margin: 20px 0 10px 0 ;
}

.filter {
  margin-left: -3px;
}

.double-slider {
  margin: 22px auto 0 auto;
}

.side-bar__title.category {
  margin-top: 28px;
}

.button-clear {
  width: 100%;
  height: 46px;
  margin-top: 7px;
  color: #fff;
  background: #7E72F2;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button-clear:hover {
  background: #7467eb;
  transition: .4s;
}
