<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="layout.css" />
    <title>HTML/CSS layout component</title>
  </head>
  <body>
    <div class="container-xxl gy-3 breakpoints">
      <div class="row align-items-start">
        <div class="col-3 d-none d-sm-block left-sidebar">Left-side</div>
        <div class="col main-content">
          <div class="row">Right side</div>
          <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-12">1</div>
            <div class="col-md-6 col-lg-4 col-sm-12">2</div>
            <div class="col-md-6 col-lg-4 col-sm-12">3</div>
            <div class="col-md-6 col-lg-4 col-sm-12">4</div>
            <div class="col-md-6 col-lg-4 col-sm-12">5</div>
            <div class="col-md-6 col-lg-4 col-sm-12">6</div>
            <div class="col-md-6 col-lg-4 col-sm-12">7</div>
            <div class="col-md-6 col-lg-4 col-sm-12">8</div>
            <div class="col-md-6 col-lg-4 col-sm-12">9</div>
          </div>
        </div>
      </div>
    </div>
    <script src="./../bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
