.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a {
  line-height: 1;
  text-decoration: none
}

.pagination .previous,
.pagination .next {
  color: #000
}

.pagination .previous {
  margin-right: 15px
}

.pagination .next {
  margin-left: 15px
}

.pagination .list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 20px
}

.pagination .active-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ededed;
  border-radius: 20px;
  color: #2c2c2c;
  transition: .3s
}

.pagination .active-list:hover,
.pagination .active-list.active {
  background-color: #7e72f2;
  color: #fff
}
