<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Grid with media queries</title>
  <link rel="stylesheet" href="style.css">


</head>
<body>
    <div class="container">
      <div class="sidebar">
          Left side
      </div>
      <div class="content">
        <div class="search">Right side</div>
        <div class="items">
          <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-2">1</div>
          <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-2">2</div>
          <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-2">3</div>
          <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-2">4</div>
          <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-2">5</div>
          <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-2">6</div>
          <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-2">7</div>
          <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-2">8</div>
          <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-2">9</div>
        </div>

      </div>
    </div>

</body>
</html>
