@import '../../../../fonts.css';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.search-box {
  position: relative;
}

.search-box__search {
  height: 45px;
  width: 100%;
  padding: 5px 60px 5px 10px;
  font-size: 16px;
  border: none;
  outline-style: none;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.search-box::after {
  content: "\e905";
  font-family: 'icomoon';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
}
