<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
 rel="stylesheet">
  <title>navbar</title>
</head>
<body>

  <div class="block">

    <div class="price-block">
      <h3>Price</h3>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
      <div class="price-line">
        <div class="zerro">0 UAH</div>
        <div class="price">85000</div>
      </div>
    </div>

    <div class="category-block">
      <h3>Category</h3>
      <ul class="category-block">
       <li class="item"> <button class="btn"><a href="#"></a></button><p>Monitors</p></button></li>
       <li class="item"><button class="btn"></button><p>Laptops</p></li>
      </ul>
       <div class="item"><button class="btn"></button><p>Video cards</p></div>
       <div class="item"><button class="btn"></button><p>Caming keyboards</p></div>
       <div class="item"><button class="btn"></button><p>Computer mouse</p></div>
       <div class="item"><button class="btn"></button><p>SSD</p></div>
       <div class="item"><button class="btn"></button><p>Sound cards</p></div>
       <div class="item"><button class="btn"></button><p>RAM</p></div>

    </div>
    <div class="line"></div>

    <div class="brend-block">
      <h3>Brand</h3>
      <div class="item"><button class="btn"></button><p>Asus</p></div>
      <div class="item"><button class="btn"></button><p>Acer</p></div>
      <div class="item"><button class="btn"></button><p>Apple</p></div>
      <div class="item"><button class="btn"></button><p>Dell</p></div>
      <div class="item"><button class="btn"></button><p>Dynamode</p></div>
      <div class="item"><button class="btn"></button><p>Gigabyte</p></div>
      <div class="item"><button class="btn"></button><p>Kingston</p></div>
      <div class="item"><button class="btn"></button><p>Lenovo</p></div>
      <div class="item"><button class="btn"></button><p>Logitech</p></div>
      <div class="item"><button class="btn"></button><p>MSI</p></div>
      <div class="item"><button class="btn"></button><p>BenG</p></div>
      <div class="item"><button class="btn"></button><p>A4Tech</p></div>
    </div>
    <div class="line"></div>
    <di class="rating-block">
      <h3>Rating</h3>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
      <div class="rating-line">
        <div class="zerro">0 </div>
        <div class="rating">5</div>
      </div>
      <button class="btn-filters">clear all filters</button>
    </di>

</body>
</html>
