<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
  <div class="wrapper-layout">
    <div class="header-layout">
        <h1>Online Story</h1>
        <button class="btn-card"></button>
    </div>

     <input type="text" class="input">

    <div class="grid-content">
              sidbar

       <div class="content">

          <div class="col 1">
                   <img src="img/photo1.jpg" alt="laptop" >
                    <div class="item-cart">
                        <div class="btn1-block">
                         <button class="btn1">1.23 <img class="star" src="/components/card/img/Star 1.svg" alt="">  </button>
                       </div>
                    <div class="price-cart">15999 </div>
                 </div>
                   <p> Ноутбук Acer Aspire <span> 3 A315-57G-336G (NX.HZREU.01S)</span> Charcoal Black </p>
                   <h5>laptops </h5>
                  <button class="btn-cart">Add To Cart</button>
            </div>
            <div class="col 2">
                <img src="img/photo1.jpg" alt="#" >
                 <div class="item-cart">
                     <div class="btn1-block">
                      <button class="btn1">1.23 <img class="star" src="/components/card/img/Star 1.svg" alt="">  </button>
                    </div>
                 <div class="price-cart">15999 </div>
              </div>
                <p> Ноутбук Acer Aspire <span> 3 A315-57G-336G (NX.HZREU.01S)</span> Charcoal Black </p>
                <h5>laptops </h5>
               <button class="btn-cart">Add To Cart</button>
            </div>
            <div class="col 3">
                <img src="img/photo6.jpg" alt="#" >
                 <div class="item-cart">
                     <div class="btn1-block">
                      <button class="btn1">1.23 <img class="star" src="/components/card/img/Star 1.svg" alt="">  </button>
                    </div>
                 <div class="price-cart">15999 </div>
              </div>
                <p> Ноутбук Acer Aspire <span> 3 A315-57G-336G (NX.HZREU.01S)</span> Charcoal Black </p>
                <h5>laptops </h5>
               <button class="btn-cart">Add To Cart</button>
            </div>
            <div class="col 4">
                <img src="img/photo2.jpg" alt="#" >
                 <div class="item-cart">
                     <div class="btn1-block">
                      <button class="btn1">1.23 <img class="star" src="/components/card/img/Star 1.svg" alt="">  </button>
                    </div>
                 <div class="price-cart">15999 </div>
              </div>
                <p> Ноутбук Acer Aspire <span> 3 A315-57G-336G (NX.HZREU.01S)</span> Charcoal Black </p>
                <h5>laptops </h5>
               <button class="btn-cart">Add To Cart</button>
            </div>
            <div class="col 5">
                <img src="img/photo1.jpg" alt="#" >
                 <div class="item-cart">
                     <div class="btn1-block">
                      <button class="btn1">1.23 <img class="star" src="/components/card/img/Star 1.svg" alt="">  </button>
                    </div>
                 <div class="price-cart">15999 </div>
              </div>
                <p> Ноутбук Acer Aspire <span> 3 A315-57G-336G (NX.HZREU.01S)</span> Charcoal Black </p>
                <h5>laptops </h5>
               <button class="btn-cart">Add To Cart</button>
            </div>
            <div class="col 6">
                <img src="img/photo5.jpg" alt="#" >
                 <div class="item-cart">
                     <div class="btn1-block">
                      <button class="btn1">1.23 <img class="star" src="/components/card/img/Star 1.svg" alt="">  </button>
                    </div>
                 <div class="price-cart">15999 </div>
              </div>
                <p> Ноутбук Acer Aspire <span> 3 A315-57G-336G (NX.HZREU.01S)</span> Charcoal Black </p>
                <h5>laptops </h5>
               <button class="btn-cart">Add To Cart</button>
            </div>
            <div class="col 7">
                <img src="img/photo3.jpg" alt="#" >
                 <div class="item-cart">
                     <div class="btn1-block">
                      <button class="btn1">1.23 <img class="star" src="/components/card/img/Star 1.svg" alt="">  </button>
                    </div>
                 <div class="price-cart">15999 </div>
              </div>
                <p> Ноутбук Acer Aspire <span> 3 A315-57G-336G (NX.HZREU.01S)</span> Charcoal Black </p>
                <h5>laptops </h5>
               <button class="btn-cart">Add To Cart</button>
            </div>
            <div class="col 8">
                <img src="img/photo4.jpg" alt="#" >
                 <div class="item-cart">
                     <div class="btn1-block">
                      <button class="btn1">1.23 <img class="star" src="/components/card/img/Star 1.svg" alt="">  </button>
                    </div>
                 <div class="price-cart">15999 </div>
              </div>
                <p> Ноутбук Acer Aspire <span> 3 A315-57G-336G (NX.HZREU.01S)</span> Charcoal Black </p>
                <h5>laptops </h5>
               <button class="btn-cart">Add To Cart</button>
            </div>
            <div class="col 9">
                <img src="img/photo6.jpg" alt="#" >
                 <div class="item-cart">
                     <div class="btn1-block">
                      <button class="btn1">1.23 <img class="star" src="/components/card/img/Star 1.svg" alt="">  </button>
                    </div>
                 <div class="price-cart">15999 </div>
              </div>
                <p> Ноутбук Acer Aspire <span> 3 A315-57G-336G (NX.HZREU.01S)</span> Charcoal Black </p>
                <h5>laptops </h5>
               <button class="btn-cart">Add To Cart</button>
            </div>
        </div>
     </div>
  </div>
</body>
</html>
