.double-slider {
  width: 222px;
  height: 17px;
  display: flex;
  align-items: center;
  margin-left: 11px;
}

.double-slider__line {
  width: 212px;
  height: 4px;
  background: #7E72F2;
}

.double-slider__icon {
  cursor: grab;
}

.double-slider__range {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  font-size: 12px;
}
