.button {
  margin-top: 22px;
  width: 100%;
  padding: 14px 0 14px 0;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  border-radius: 0px 0px 5px 5px;
  background: $main-color;
  cursor: pointer;
  transition: .4s;
  &:hover {
    background: $third-color;
  }
  &_cart {
    display: block;
    width: auto;
    margin: 10px auto 0 auto;
    padding: 7px 77px 8px 77px;
    border-radius: 3px;
  }
  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: auto;
    padding: 10px 34px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
  }
  &_filters {
    border-radius: 7px;
  }
}
