.button {
  margin-top: 22px;
  width: 317px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  border-radius: 0px 0px 5px 5px;
  background: $main-color;
  cursor: pointer;
  transition: .4s;
  &:hover {
    background: $third-color;
  }
  &_cart {
    display: block;
    margin: 10px auto 0 auto;
    width: 200px;
    height: 28px;
    border-radius: 3px;
  }
}
