input[type="range"] {
  position: absolute;
  appearance: none;
  width: 222px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 6px;
  left: 0;
  background-color: transparent;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 4px;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 4px;
}

input[type="range"]::-ms-track {
  appearance: none;
  height: 4px;
}

.slider {
  margin: 23px auto 0 auto;
  position: relative;
  width: 237px;
  height: 18px;
  &__track {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 216px;
    height: 4px;
  }
  &__thumb {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 18px;
      width: 6px;
      background: url('../icons/thumb.svg') no-repeat;
      cursor: grab;
      pointer-events: auto;
      margin-top: -9px;
    }
    &::-moz-range-thumb {
      -moz-appearance: none;
      height: 18px;
      width: 6px;
      background: url('../icons/thumb.svg') no-repeat;
      cursor: grab;
      border: none;
      pointer-events: auto;
      margin-top: -9px;
    }
    &::-ms-thumb {
      appearance: none;
      height: 18px;
      width: 6px;
      background: url('../icons/thumb.svg') no-repeat;
      cursor: grab;
      border: none;
      pointer-events: auto;
      margin-top: -9px;
    }
    &_right {
      &::-webkit-slider-thumb {
        margin-left: 6px;
        transform: rotate(180deg);
      }
      &::-moz-range-thumb {
        margin-left: 6px; // not work
        transform: rotate(180deg);
      }
      &::-ms-thumb {
        margin-left: 6px;
        transform: rotate(180deg);
      }
    }
  }
  &__values {
    position: absolute;
    bottom: -23px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 5px 0;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
  }
}
