.side-bar {
  width: 317px;
  &__wrapper {
    min-height: 904px;
    padding: 24px 20px 10px 20px;
    border-radius: 7px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
  }
  &__category {
    margin-top: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #D6D6D6;
  }
  &__brand {
    margin-top: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #D6D6D6;
  }
  &__rating {
    margin-top: 20px;
  }
}
