*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  display: block;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: 1px;
}
body {
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;

}

header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
  content: "";
  display: table;
  clear: both;
}
:root{
  --main-color:#7E72F2;
  --white-color:#fff;
  --black-color:#000;
  --text-color:#2C2C2C;
  --background-grey:#EDEDED;
}
