@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?243j1o");
  src: url("../fonts/icomoon.eot?243j1o#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?243j1o") format("truetype"), url("../fonts/icomoon.woff?243j1o") format("woff"), url("../fonts/icomoon.svg?243j1o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
  font-size: 18px;
  margin-right: 5px;
  color: #fff;
}

.icon-close:before {
  content: "\e901";
}

.icon-mark:before {
  content: "\e902";
  color: #fff;
}

.icon-minus:before {
  content: "\e903";
}

.icon-plus:before {
  content: "\e904";
}

.icon-search:before {
  content: "\e905";
}

.icon-star:before {
  content: "\e906";
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: calc(100% / 12 * 12);
}

@media (min-width: 576px) {
  .col-s-1 {
    width: calc(100% / 12 * 1);
  }
  .col-s-2 {
    width: calc(100% / 12 * 2);
  }
  .col-s-3 {
    width: calc(100% / 12 * 3);
  }
  .col-s-4 {
    width: calc(100% / 12 * 4);
  }
  .col-s-5 {
    width: calc(100% / 12 * 5);
  }
  .col-s-6 {
    width: calc(100% / 12 * 6);
  }
  .col-s-7 {
    width: calc(100% / 12 * 7);
  }
  .col-s-8 {
    width: calc(100% / 12 * 8);
  }
  .col-s-9 {
    width: calc(100% / 12 * 9);
  }
  .col-s-10 {
    width: calc(100% / 12 * 10);
  }
  .col-s-11 {
    width: calc(100% / 12 * 11);
  }
  .col-s-12 {
    width: calc(100% / 12 * 12);
  }
}

@media (min-width: 768px) {
  .col-m-1 {
    width: calc(100% / 12 * 1);
  }
  .col-m-2 {
    width: calc(100% / 12 * 2);
  }
  .col-m-3 {
    width: calc(100% / 12 * 3);
  }
  .col-m-4 {
    width: calc(100% / 12 * 4);
  }
  .col-m-5 {
    width: calc(100% / 12 * 5);
  }
  .col-m-6 {
    width: calc(100% / 12 * 6);
  }
  .col-m-7 {
    width: calc(100% / 12 * 7);
  }
  .col-m-8 {
    width: calc(100% / 12 * 8);
  }
  .col-m-9 {
    width: calc(100% / 12 * 9);
  }
  .col-m-10 {
    width: calc(100% / 12 * 10);
  }
  .col-m-11 {
    width: calc(100% / 12 * 11);
  }
  .col-m-12 {
    width: calc(100% / 12 * 12);
  }
}

@media (min-width: 992px) {
  .col-l-1 {
    width: calc(100% / 12 * 1);
  }
  .col-l-2 {
    width: calc(100% / 12 * 2);
  }
  .col-l-3 {
    width: calc(100% / 12 * 3);
  }
  .col-l-4 {
    width: calc(100% / 12 * 4);
  }
  .col-l-5 {
    width: calc(100% / 12 * 5);
  }
  .col-l-6 {
    width: calc(100% / 12 * 6);
  }
  .col-l-7 {
    width: calc(100% / 12 * 7);
  }
  .col-l-8 {
    width: calc(100% / 12 * 8);
  }
  .col-l-9 {
    width: calc(100% / 12 * 9);
  }
  .col-l-10 {
    width: calc(100% / 12 * 10);
  }
  .col-l-11 {
    width: calc(100% / 12 * 11);
  }
  .col-l-12 {
    width: calc(100% / 12 * 12);
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: calc(100% / 12 * 1);
  }
  .col-xl-2 {
    width: calc(100% / 12 * 2);
  }
  .col-xl-3 {
    width: calc(100% / 12 * 3);
  }
  .col-xl-4 {
    width: calc(100% / 12 * 4);
  }
  .col-xl-5 {
    width: calc(100% / 12 * 5);
  }
  .col-xl-6 {
    width: calc(100% / 12 * 6);
  }
  .col-xl-7 {
    width: calc(100% / 12 * 7);
  }
  .col-xl-8 {
    width: calc(100% / 12 * 8);
  }
  .col-xl-9 {
    width: calc(100% / 12 * 9);
  }
  .col-xl-10 {
    width: calc(100% / 12 * 10);
  }
  .col-xl-11 {
    width: calc(100% / 12 * 11);
  }
  .col-xl-12 {
    width: calc(100% / 12 * 12);
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #f9f9f9;
}

header {
  padding: 24px 0 23px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 35px;
  font-weight: 600;
  color: #7E72F2;
}

.title {
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 600;
}

.product-card {
  padding-top: 12px;
  width: 317px;
  height: 394px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.133);
  border-radius: 8px;
}

.product-card__img {
  display: block;
  margin: 0 auto;
  width: 293px;
  height: 200px;
}

.product-card__content {
  margin-top: 22px;
  padding: 0 24px;
}

.product-card__wrapper {
  display: flex;
  justify-content: space-between;
}

.product-card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 11px;
  width: 70px;
  height: 27px;
  font-size: 13px;
  line-height: 14px;
  color: #FFFFFF;
  background: #7E72F2;
  border-radius: 3px;
}

.product-card__title {
  margin-top: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #2C2C2C;
}

.product-card__category {
  margin-top: 10px;
  font-size: 10px;
  color: #2C2C2C;
}

.button {
  margin-top: 22px;
  width: 100%;
  padding: 14px 0 14px 0;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  border-radius: 0px 0px 5px 5px;
  background: #7E72F2;
  cursor: pointer;
  transition: .4s;
}

.button:hover {
  background: #7367e6;
}

.button_cart {
  display: block;
  width: auto;
  margin: 10px auto 0 auto;
  padding: 7px 77px 8px 77px;
  border-radius: 3px;
}

.button_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: auto;
  padding: 10px 34px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 300;
}

.button_filters {
  border-radius: 7px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 590px;
  height: 40px;
}

.pagination__arrow {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #EDEDED;
  cursor: pointer;
  transition: .5s;
}

.pagination__arrow:hover {
  background: #7E72F2;
}

.pagination__arrow:hover a {
  color: #fff;
}

.pagination__arrow:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  left: 50%;
  top: 50%;
  transform: translateX(-30%) translateY(-50%) rotate(45deg);
}

.pagination__arrow:hover:after {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

.pagination__arrow_right:after {
  transform: translateX(-70%) translateY(-50%) rotate(225deg);
}

.pagination__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #EDEDED;
  cursor: pointer;
  transition: .5s;
}

.pagination__list-item:hover {
  background: #7E72F2;
}

.pagination__list-item:hover a {
  color: #fff;
}

.pagination__list-item a {
  text-decoration: none;
  color: #2C2C2C;
}

.active {
  background: #7E72F2;
}

.active a {
  color: #fff;
}

.cards-list {
  margin: 100px auto;
}

.product-card {
  margin: 20px auto 0 auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.18);
}

.cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 10px;
  width: 95%;
  min-height: 90%;
  background: #FEFEFE;
}

.cart__close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 30px;
  line-height: 65px;
  cursor: pointer;
}

.cart__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 15px 63px 15px 25px;
  min-height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.cart__item-img {
  width: 56px;
  height: 40px;
}

.cart__item-descr {
  margin-left: 10px;
  font-size: 13px;
  line-height: 16px;
}

.cart__item-count {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  min-width: 70px;
}

.cart__item-count span {
  font-size: 14px;
}

.cart__btn {
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: #fff;
}

.cart__item-price {
  margin-left: 10px;
  font-size: 13px;
  line-height: 16px;
}

.cart__total {
  margin-top: 25px;
  font-size: 14px;
  text-align: center;
}

input[type="range"] {
  position: absolute;
  appearance: none;
  width: 222px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 6px;
  left: 0;
  background-color: transparent;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 4px;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 4px;
}

input[type="range"]::-ms-track {
  appearance: none;
  height: 4px;
}

.slider {
  margin: 23px auto 0 auto;
  position: relative;
  width: 237px;
  height: 18px;
}

.slider__track {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 216px;
  height: 4px;
}

.slider__thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 6px;
  background: url("../icons/thumb.svg") no-repeat;
  cursor: grab;
  pointer-events: auto;
  margin-top: -9px;
}

.slider__thumb::-moz-range-thumb {
  -moz-appearance: none;
  height: 18px;
  width: 6px;
  background: url("../icons/thumb.svg") no-repeat;
  cursor: grab;
  border: none;
  pointer-events: auto;
  margin-top: -9px;
}

.slider__thumb::-ms-thumb {
  appearance: none;
  height: 18px;
  width: 6px;
  background: url("../icons/thumb.svg") no-repeat;
  cursor: grab;
  border: none;
  pointer-events: auto;
  margin-top: -9px;
}

.slider__thumb_right::-webkit-slider-thumb {
  margin-left: 6px;
  transform: rotate(180deg);
}

.slider__thumb_right::-moz-range-thumb {
  margin-left: 6px;
  transform: rotate(180deg);
}

.slider__thumb_right::-ms-thumb {
  margin-left: 6px;
  transform: rotate(180deg);
}

.slider__values {
  position: absolute;
  bottom: -23px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 5px 0;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
}

.filter {
  margin-top: 10px;
  display: flex;
}

.filter span {
  margin-left: 12px;
}

input[type="checkbox"] {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 17px;
  border: 1px solid #979797;
  border-radius: 3px;
  cursor: pointer;
}

label {
  font-size: 14px;
  cursor: pointer;
}

input[type="checkbox"]:after {
  content: '\e902';
  font-family: 'icomoon';
  color: #fff;
  display: none;
}

input[type="checkbox"]:checked {
  border: none;
  background-color: #7E72F2;
}

input[type="checkbox"]:checked:after {
  display: block;
}

.search-box {
  position: relative;
}

.search-box input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 7px;
  background: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  padding: 5px 70px 5px 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.search-box:after {
  content: '\e905';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
  font-family: 'icomoon';
  font-size: 20px;
}

.side-bar {
  margin: 0 auto;
  width: 280px;
}

.side-bar__wrapper {
  min-height: 904px;
  padding: 24px 20px 10px 20px;
  border-radius: 7px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
}

.side-bar__category {
  margin-top: 48px;
  padding-bottom: 31px;
  border-bottom: 1px solid #D6D6D6;
}

.side-bar__brand {
  margin-top: 24px;
  padding-bottom: 31px;
  border-bottom: 1px solid #D6D6D6;
}

.side-bar__rating {
  margin-top: 24px;
}

@media (min-width: 576px) {
  .cards-list {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .cards-list {
    width: 990px;
  }
}
/*# sourceMappingURL=style.css.map */