<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Java Script</title>
  <link rel="stylesheet" href="/component-card/card.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Hello World</h1>
  <script>
    const box = 'Hello World!';
    function sum () {
      console.log('sum: ', first + second)
    }
    sum(1,2);
    sum(8,12);

    console.log(box);
    console.log (' sum: ', 1 + 2);
  </script>
</body>
</html>
