

html{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2C2C2C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

div[class^='col-'] {
  outline: 1px solid red;
  background: lightgray;
  text-align: center;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2C2C2C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.card_container /*os-product-card*/ {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.133);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.card_item-photo img /*os-product-img*/{
  display: flex;
  justify-content: center;
  height: 200px;
}

.card_descriptin /*os-product-content*/ {
  padding: 22px 24px;
}

.card-item_pr-rt /*os-product-price-wrapper*/ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card_rate /*os-product-rating*/ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70px;
  padding: 6px 12px;
  color: #fff;
  background: #7E72F2;
  border-radius: 3px;
  flex: 0; /*слипается звезда - фикс маржин*/
}

.card_rate img /*костыль для звездочки*/{
  margin-left: 7px;
}

.card_price /*os-product-price*/ {
  font-size: 1.125rem;
  font-weight: 400
}

.card_title /*os-product-title*/{
  font-size: 1rem;
  text-align: left;
  font-style: normal;
  margin-bottom: 8px;
  margin-top: 0;
  }

.card_category /*os-product-description*/{
  font-size: 0.75rem;
  font-weight: normal;
  text-align: left;
  margin: 0;
}

.card_footer /*os-product-footer*/{
  display: grid;
  grid-template-columns: 1fr
}

.card_footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 0;
  background-color: #7e72f2;
  color: #fff;
  border: none;
}

.card_footer button:hover {
  background: #6f60f1;
  cursor: pointer;
}


  .col-1 {
    width: calc(100% / 12);
  }

  .col-2 {
    width: calc(100% / 12 * 2);
  }

  .col-3 {
    width: calc(100% / 12 * 3);
  }

  .col-4 {
    width: calc(100% / 12 * 4);
  }

  .col-5 {
    width: calc(100% / 12 * 5);
  }

  .col-6 {
    width: calc(100% / 12 * 6);
  }

  .col-7 {
    width: calc(100% / 12 * 7);
  }

  .col-8 {
    width: calc(100% / 12 * 8);
  }

  .col-9 {
    width: calc(100% / 12 * 9);
  }

  .col-10 {
    width: calc(100% / 12 * 10);
  }

  .col-11 {
    width: calc(100% / 12 * 11);
  }

  .col-12 {
    width: calc(100% / 12 * 12);
  }

  /* s */
  @media (min-width: 50px) {
    .col-s-12 {
      width: calc(100% / 12 * 12);
    }
    .no-display {
      display: none!important;
    }
  }

  /* m */
  @media (min-width: 768px) {
    .col-m-4 {
      width: calc(100% / 12 * 4);
    }
    .col-m-8 {
      width: calc(100% / 12 * 8);
    }
    .col-m-6 {
      width: calc(100% / 12 * 6);
    }
    .no-display {
      display: block!important;
    }
  }

  /* l */
  @media (min-width: 992px) {
    .col-l-3 {
      width: calc(100% / 12 * 3);
    }
    .col-l-9 {
      width: calc(100% / 12 * 9);
    }
    .col-l-4 {
      width: calc(100% / 12 * 4);
    }
  }

  /* xl*/
  @media (min-width: 1200px) {
    .col-xl-3 {
      width: calc(100% / 12 * 3);
    }
    .col-xl-9 {
      width: calc(100% / 12 * 9);
    }
    .col-xl-3 {
      width: calc(100% / 12 * 3);
    }
  }
