body {
  width: 100%;
  display: flex;
}

.left-side {
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.right-side {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

div[class^='col-'] {
  outline: 1px solid red;
  background: lightgray;
  text-align: center;
}

.top-card {
  width: 100%;
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: calc(100% / 12 * 12);
}

/* xs */
@media (max-width: 575px) {
  .col-xs-1 {
    display: none;
  }
  .col-xs-100 {
    width: 100%;
  }
  .col-xs-12 {
    width: calc(100% / 12 * 12);
  }
}

/* s */
@media (min-width: 576px) {
  .col-s-12 {
    width: calc(100% / 12 * 12);
  }
}

/* m */
@media (min-width: 768px) {
  .col-m-6 {
    width: calc(100% / 12 * 6);
  }
}

/* lg */
@media (min-width: 992px) {
  .col-lg-4 {
    width: calc(100% / 12 * 6);
  }
}

/* xl */
@media (min-width: 1200px) {
  .col-xl-2 {
    width: calc(100% / 12 * 4);
  }
}
