.container {
  display: flex;
}

.col {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: center;
  line-height: 1.8;
}

p {
  font-size: 20px;
  font-weight: 600;
}

.card {
  height: 30px;
  outline: 1px solid red;
  outline-offset: -1px;
}

@media (max-width: 992px) {
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
}
