.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  min-width: 250px;
}

.left-col {
  border: 1px solid brown;
}

.right-col {
  border: 1px solid brown;
}

.row {
  display: flex;
}

.card-col {
  border: 1px solid black;
}
/*
.col-1 {
  margin: 2px;
  width: calc(100%/12);
}

.col-2 {
  margin: 2px;
  width: calc(100%/12*2);
}

.col-3 {
  margin: 2px;
  width: calc(100%/12*3);
}

.col-4 {
  margin: 2px;
  width: calc(100%/12*4);
}

.col-5 {
  margin: 2px;
  width: calc(100%/12*5);
}

.col-6 {
  margin: 2px;
  width: calc(100%/12*6);
}

.col-7 {
  margin: 2px;
  width: calc(100%/12*7);
}

.col-8 {
  margin: 2px;
  width: calc(100%/12*8);
}

.col-9 {
  margin: 2px;
  width: calc(100%/12*9);
}

.col-10 {
  margin: 2px;
  width: calc(100%/12*10);
}

.col-11 {
  margin: 2px;
  width: calc(100%/12*11);
}

.col-12 {
  margin: 2px;
  width: calc(100%/12*12);
}
*/

@media (max-width: 576px) {
  .col-s-none {
    display: none;
  }

  .row {
    flex-direction: column;

  }

  .col-s-1 {
    margin: 2px;
    width: calc(100%/12);
  }

  .col-s-2 {
    margin: 2px;
    width: calc(100%/12*2);
  }

  .col-s-3 {
    margin: 2px;
    width: calc(100%/12*3);
  }

  .col-s-4 {
    margin: 2px;
    width: calc(100%/12*4);
  }

  .cols-s-5 {
    margin: 2px;
    width: calc(100%/12*5);
  }

  .col-s-6 {
    margin: 2px;
    width: calc(100%/12*6);
  }

  .col-s-7 {
    margin: 2px;
    width: calc(100%/12*7);
  }

  .col-s-8 {
    margin: 2px;
    width: calc(100%/12*8);
  }

  .col-s-9 {
    margin: 2px;
    width: calc(100%/12*9);
  }

  .col-s-10 {
    margin: 2px;
    width: calc(100%/12*10);
  }

  .col-s-11 {
    margin: 2px;
    width: calc(100%/12*11);
  }

  .col-s-12 {
    margin: 2px;
    width: calc(100%/12*12);
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .row{
    flex-wrap: wrap;
  }
  .col-m-1 {
    margin: 2px;
    width: calc(100%/12);
  }

  .col-m-2 {
    margin: 2px;
    width: calc(100%/12*2);
  }

  .col-m-3 {
    margin: 2px;
    width: calc(100%/12*3);
  }

  .col-m-4 {
    margin: 2px;
    width: calc(100%/12*4);
  }

  .col-m-5 {
    margin: 2px;
    width: calc(100%/12*5);
  }

  .col-m-6 {
    margin: 2px;
    width: calc(100%/12*6);
  }

  .col-m-7 {
    margin: 2px;
    width: calc(100%/12*7);
  }

  .col-m-8 {
    margin: 2px;
    width: calc(100%/12*8);
  }

  .col-m-9 {
    margin: 2px;
    width: calc(100%/12*9);
  }

  .col-m-10 {
    margin: 2px;
    width: calc(100%/12*10);
  }

  .col-m-11 {
    margin: 2px;
    width: calc(100%/12*11);
  }

  .col-m-12 {
    margin: 2px;
    width: calc(100%/12*12);
  }

}

@media (min-width: 768px) and (max-width: 992px) {
.row{
  flex-wrap: wrap;
}
  .col-l-1 {
    margin: 2px;
    width: calc(100%/12);
  }

  .col-l-2 {
    margin: 2px;
    width: calc(100%/12*2);
  }

  .col-l-3 {
    margin: 2px;
    width: calc(100%/12*3);
  }

  .col-l-4 {
    margin: 2px;
    width: calc(100%/12*4);
  }

  .col-l-5 {
    margin: 2px;
    width: calc(100%/12*5);
  }

  .col-l-6 {
    margin: 2px;
    width: calc(100%/12*5.8);
  }

  .col-l-7 {
    margin: 2px;
    width: calc(100%/12*7);
  }

  .col-l-8 {
    margin: 2px;
    width: calc(100%/12*8);
  }

  .col-l-9 {
    margin: 2px;
    width: calc(100%/12*9);
  }

  .col-l-10 {
    margin: 2px;
    width: calc(100%/12*10);
  }

  .col-l-11 {
    margin: 2px;
    width: calc(100%/12*11);
  }

  .col-l-12 {
    margin: 2px;
    width: calc(100%/12*12);
  }
}

@media (min-width: 993px)  {

  .col-xl-1 {
    margin: 2px;
    width: calc(100%/12);
  }

  .col-xl-2 {
    margin: 2px;
    width: calc(100%/12*2);
  }

  .col-xl-3 {
    margin: 2px;
    width: calc(100%/12*3);
  }

  .col-xl-4 {
    margin: 2px;
    width: calc(100%/12*4);
  }

  .col-xl-5 {
    margin: 2px;
    width: calc(100%/12*5);
  }

  .col-xl-6 {
    margin: 2px;
    width: calc(100%/12*6);
  }

  .col-xl-7 {
    margin: 2px;
    width: calc(100%/12*7);
  }

  .col-xl-8 {
    margin: 2px;
    width: calc(100%/12*8);
  }

  .col-xl-9 {
    margin: 2px;
    width: calc(100%/12*9);
  }

  .col-xl-10 {
    margin: 2px;
    width: calc(100%/12*10);
  }

  .col-xl-11 {
    margin: 2px;
    width: calc(100%/12*11);
  }

  .col-xl-12 {
    margin: 2px;
    width: calc(100%/12*12);
  }
}
