<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="main">
      <div class="left">
        left
      </div>
      <div class="container">

        <div class="mainright2">
          <div class="row3">
            row9
          </div>
          <div class="row3">
            row1
          </div>
          <div class="row3">
            row2
          </div>
          <div class="row3">
            row3
          </div>
          <div class="row3">
            row4
          </div>
          <div class="row3">
            row5
          </div>
          <div class="row3">
            row6
          </div>
          <div class="row3">
            row7
          </div>
          <div class="row3">
            row8
          </div>
          <div class="row3">
            right
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
