<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="CardList.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap">
  <title>Card-list</title>

</head>
<body>
  <main>
  <div class="main-wrapper-CardList" data-element='body'>
    <div class="left-side">left-side</div>
    <div class="right-side">

      <div class="cards"><div class="CardList-wrapper">
        <div class="CardList-wrapper-img" style= "background-image: url(https://content2.rozetka.com.ua/goods/images/big_tile/163399632.jpg);" >
         </div>
        <div class="CardList-wrapper-price-rate">
          <div class="CardList-wrapper-rate">1.23 <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd" d="M9.26296 3.60776L6.99999 0L4.73701 3.60776L0.34259 4.49139L3.33842 7.60474L2.88549 11.7586L6.99999 10.075L11.1145 11.7586L10.6616 7.60474L13.6574 4.49139L9.26296 3.60776ZM11.6722 5.11223L8.64429 4.50338L6.99999 1.88193L5.35568 4.50338L2.32777 5.11223L4.38321 7.24829L4.06171 10.1968L6.99999 8.99452L9.93826 10.1968L9.61676 7.24829L11.6722 5.11223Z" fill="white"/>
         </svg>
         </div>
         <div class="CardList-wrapper-price">15999</div>
           </div>
           <div class="CardList-wrapper-discription"> Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
         <div class="CardList-wrapper-laptops"><p>laptops</p></div>
       <div class="CardList-wrapper-add-to-card">ADD TO CARD</div>
       <!-- Card component -->
       </div></div>
      <div class="cards"><div class="CardList-wrapper">
        <div class="CardList-wrapper-img" style= "background-image: url(https://content1.rozetka.com.ua/goods/images/big_tile/178060622.jpg);">

         </div>
        <div class="CardList-wrapper-price-rate">
          <div class="CardList-wrapper-rate">1.23 <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd" d="M9.26296 3.60776L6.99999 0L4.73701 3.60776L0.34259 4.49139L3.33842 7.60474L2.88549 11.7586L6.99999 10.075L11.1145 11.7586L10.6616 7.60474L13.6574 4.49139L9.26296 3.60776ZM11.6722 5.11223L8.64429 4.50338L6.99999 1.88193L5.35568 4.50338L2.32777 5.11223L4.38321 7.24829L4.06171 10.1968L6.99999 8.99452L9.93826 10.1968L9.61676 7.24829L11.6722 5.11223Z" fill="white"/>
         </svg>
         </div>
         <div class="CardList-wrapper-price">15999</div>
           </div>
           <div class="CardList-wrapper-discription"> Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
         <div class="CardList-wrapper-laptops"><p>laptops</p></div>
       <div class="CardList-wrapper-add-to-card">ADD TO CARD</div>
       <!-- Card component -->
       </div></div>
       <div class="cards"><div class="CardList-wrapper">
        <div class="CardList-wrapper-img" style= "background-image: url(https://content2.rozetka.com.ua/goods/images/big_tile/178060660.jpg);">
         </div>
        <div class="CardList-wrapper-price-rate">
          <div class="CardList-wrapper-rate">1.23 <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd" d="M9.26296 3.60776L6.99999 0L4.73701 3.60776L0.34259 4.49139L3.33842 7.60474L2.88549 11.7586L6.99999 10.075L11.1145 11.7586L10.6616 7.60474L13.6574 4.49139L9.26296 3.60776ZM11.6722 5.11223L8.64429 4.50338L6.99999 1.88193L5.35568 4.50338L2.32777 5.11223L4.38321 7.24829L4.06171 10.1968L6.99999 8.99452L9.93826 10.1968L9.61676 7.24829L11.6722 5.11223Z" fill="white"/>
         </svg>
         </div>
         <div class="CardList-wrapper-price">15999</div>
           </div>
           <div class="CardList-wrapper-discription"> Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
         <div class="CardList-wrapper-laptops"><p>laptops</p></div>
       <div class="CardList-wrapper-add-to-card">ADD TO CARD</div>
       <!-- Card component -->
       </div></div>
      <div class="cards"><div class="CardList-wrapper">
        <div class="CardList-wrapper-img" style= "background-image: url(https://content1.rozetka.com.ua/goods/images/big_tile/25101152.jpg);">


         </div>
        <div class="CardList-wrapper-price-rate">
          <div class="CardList-wrapper-rate">1.23 <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd" d="M9.26296 3.60776L6.99999 0L4.73701 3.60776L0.34259 4.49139L3.33842 7.60474L2.88549 11.7586L6.99999 10.075L11.1145 11.7586L10.6616 7.60474L13.6574 4.49139L9.26296 3.60776ZM11.6722 5.11223L8.64429 4.50338L6.99999 1.88193L5.35568 4.50338L2.32777 5.11223L4.38321 7.24829L4.06171 10.1968L6.99999 8.99452L9.93826 10.1968L9.61676 7.24829L11.6722 5.11223Z" fill="white"/>
         </svg>
         </div>
         <div class="CardList-wrapper-price">15999</div>
           </div>
           <div class="CardList-wrapper-discription"> Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
         <div class="CardList-wrapper-laptops"><p>laptops</p></div>
       <div class="CardList-wrapper-add-to-card">ADD TO CARD</div>
       <!-- Card component -->
       </div></div>
      <div class="cards"><div class="CardList-wrapper">
        <div class="CardList-wrapper-img" style= "background-image: url(https://content1.rozetka.com.ua/goods/images/big_tile/24790127.jpg);">


         </div>
        <div class="CardList-wrapper-price-rate">
          <div class="CardList-wrapper-rate">1.23 <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd" d="M9.26296 3.60776L6.99999 0L4.73701 3.60776L0.34259 4.49139L3.33842 7.60474L2.88549 11.7586L6.99999 10.075L11.1145 11.7586L10.6616 7.60474L13.6574 4.49139L9.26296 3.60776ZM11.6722 5.11223L8.64429 4.50338L6.99999 1.88193L5.35568 4.50338L2.32777 5.11223L4.38321 7.24829L4.06171 10.1968L6.99999 8.99452L9.93826 10.1968L9.61676 7.24829L11.6722 5.11223Z" fill="white"/>
         </svg>
         </div>
         <div class="CardList-wrapper-price">15999</div>
           </div>
           <div class="CardList-wrapper-discription"> Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
         <div class="CardList-wrapper-laptops"><p>laptops</p></div>
       <div class="CardList-wrapper-add-to-card">ADD TO CARD</div>
       <!-- Card component -->
       </div></div>
      <div class="cards"><div class="CardList-wrapper">
        <div class="CardList-wrapper-img" style= "background-image: url(https://content.rozetka.com.ua/goods/images/big_tile/30872664.jpg);">



         </div>
        <div class="CardList-wrapper-price-rate">
          <div class="CardList-wrapper-rate">1.23 <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd" d="M9.26296 3.60776L6.99999 0L4.73701 3.60776L0.34259 4.49139L3.33842 7.60474L2.88549 11.7586L6.99999 10.075L11.1145 11.7586L10.6616 7.60474L13.6574 4.49139L9.26296 3.60776ZM11.6722 5.11223L8.64429 4.50338L6.99999 1.88193L5.35568 4.50338L2.32777 5.11223L4.38321 7.24829L4.06171 10.1968L6.99999 8.99452L9.93826 10.1968L9.61676 7.24829L11.6722 5.11223Z" fill="white"/>
         </svg>
         </div>
         <div class="CardList-wrapper-price">15999</div>
           </div>
           <div class="CardList-wrapper-discription"> Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
         <div class="CardList-wrapper-laptops"><p>laptops</p></div>
       <div class="CardList-wrapper-add-to-card">ADD TO CARD</div>
       <!-- Card component -->
       </div></div>
      <div class="cards"><div class="CardList-wrapper">
        <div class="CardList-wrapper-img" style= "background-image: url(https://content1.rozetka.com.ua/goods/images/big_tile/119503415.jpg);">



         </div>
        <div class="CardList-wrapper-price-rate">
          <div class="CardList-wrapper-rate">1.23 <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd" d="M9.26296 3.60776L6.99999 0L4.73701 3.60776L0.34259 4.49139L3.33842 7.60474L2.88549 11.7586L6.99999 10.075L11.1145 11.7586L10.6616 7.60474L13.6574 4.49139L9.26296 3.60776ZM11.6722 5.11223L8.64429 4.50338L6.99999 1.88193L5.35568 4.50338L2.32777 5.11223L4.38321 7.24829L4.06171 10.1968L6.99999 8.99452L9.93826 10.1968L9.61676 7.24829L11.6722 5.11223Z" fill="white"/>
         </svg>
         </div>
         <div class="CardList-wrapper-price">15999</div>
           </div>
           <div class="CardList-wrapper-discription"> Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
         <div class="CardList-wrapper-laptops"><p>laptops</p></div>
       <div class="CardList-wrapper-add-to-card">ADD TO CARD</div>
       <!-- Card component -->
       </div></div>
      <div class="cards"><div class="CardList-wrapper">
        <div class="CardList-wrapper-img" style= "background-image: url(https://content.rozetka.com.ua/goods/images/big_tile/24373314.jpg);">

         </div>
        <div class="CardList-wrapper-price-rate">
          <div class="CardList-wrapper-rate">1.23 <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd" d="M9.26296 3.60776L6.99999 0L4.73701 3.60776L0.34259 4.49139L3.33842 7.60474L2.88549 11.7586L6.99999 10.075L11.1145 11.7586L10.6616 7.60474L13.6574 4.49139L9.26296 3.60776ZM11.6722 5.11223L8.64429 4.50338L6.99999 1.88193L5.35568 4.50338L2.32777 5.11223L4.38321 7.24829L4.06171 10.1968L6.99999 8.99452L9.93826 10.1968L9.61676 7.24829L11.6722 5.11223Z" fill="white"/>
         </svg>
         </div>
         <div class="CardList-wrapper-price">15999</div>
           </div>
           <div class="CardList-wrapper-discription"> Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
         <div class="CardList-wrapper-laptops"><p>laptops</p></div>
       <div class="CardList-wrapper-add-to-card">ADD TO CARD</div>
       <!-- Card component -->
       </div></div>
      <div class="cards"><div class="CardList-wrapper">
        <div class="CardList-wrapper-img" style= "background-image: url(https://content1.rozetka.com.ua/goods/images/big_tile/169147176.jpg);">

         </div>
        <div class="CardList-wrapper-price-rate">
          <div class="CardList-wrapper-rate">1.23 <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd" d="M9.26296 3.60776L6.99999 0L4.73701 3.60776L0.34259 4.49139L3.33842 7.60474L2.88549 11.7586L6.99999 10.075L11.1145 11.7586L10.6616 7.60474L13.6574 4.49139L9.26296 3.60776ZM11.6722 5.11223L8.64429 4.50338L6.99999 1.88193L5.35568 4.50338L2.32777 5.11223L4.38321 7.24829L4.06171 10.1968L6.99999 8.99452L9.93826 10.1968L9.61676 7.24829L11.6722 5.11223Z" fill="white"/>
         </svg>
         </div>
         <div class="CardList-wrapper-price">15999</div>
           </div>
           <div class="CardList-wrapper-discription"> Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
         <div class="CardList-wrapper-laptops"><p>laptops</p></div>
       <div class="CardList-wrapper-add-to-card">ADD TO CARD</div>
       <!-- Card component -->
       </div></div>
      <div class="cards"><div class="CardList-wrapper">
        <div class="CardList-wrapper-img" style= "background-image: url(https://content1.rozetka.com.ua/goods/images/big_tile/178060622.jpg);">

         </div>
        <div class="CardList-wrapper-price-rate">
          <div class="CardList-wrapper-rate">1.23 <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd" d="M9.26296 3.60776L6.99999 0L4.73701 3.60776L0.34259 4.49139L3.33842 7.60474L2.88549 11.7586L6.99999 10.075L11.1145 11.7586L10.6616 7.60474L13.6574 4.49139L9.26296 3.60776ZM11.6722 5.11223L8.64429 4.50338L6.99999 1.88193L5.35568 4.50338L2.32777 5.11223L4.38321 7.24829L4.06171 10.1968L6.99999 8.99452L9.93826 10.1968L9.61676 7.24829L11.6722 5.11223Z" fill="white"/>
         </svg>
         </div>
         <div class="CardList-wrapper-price">15999</div>
           </div>
           <div class="CardList-wrapper-discription"> Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
         <div class="CardList-wrapper-laptops"><p>laptops</p></div>
       <div class="CardList-wrapper-add-to-card">ADD TO CARD</div>
       <!-- Card component -->
       </div></div>
    </div>
  </div>
  </main>
</body>
</html>
