<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>HTML/CSS Card component</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<main>
  <div class="wrapper">
    <div class="product-img">
      <img src="./Rectangle.jpg" alt="product photo">
    </div>

    <div class="product-info">
      <div class="product-numbers product-section">
        <span class="product-rate">1.23
          <img src="./Star 1.png" alt="*">
        </span>
        <span class="product-price">15999</span>
      </div>

      <div class="product-text product-section">
        <h4>Ноутбук Acer Aspire  3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</h4>
        <p>laptops</p>
      </div>

      <div class="product-add">
        <button class="btn-add">
          Add to cart
        </button>
      </div>
    </div>

  </div>
</main>
</body>
</html>
