<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FiltersList</title>
  <link rel="stylesheet" href="../../styles/style.css">

  <style>
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
  <main>
    <div class="wrapper">
      <label for="check1">
        <div class="filter">
          <input type="checkbox" id="check1">
          <span>Monitors</span>
        </div>
      </label>
      <label for="check2">
        <div class="filter">
          <input type="checkbox" id="check2">
          <span>Laptops</span>
        </div>
      </label>
    </div>
  </main>
</body>
</html>
