<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SearchBox component</title>

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>


<body>
<main>
  <div class="search-box-wrapper">
    <div class="search-box">
      
      <div class="search-btn">
        <i class="bi bi-search"></i>
      </div>

      <input type="text" class="input-search" placeholder="Search">

    </div>




  </div>
</main>
</body>
</html>
