<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>HTML/CSS Card component</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/2.3.0/css/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  <div class="root">
    <div class="container">
      <div class="content">
        <div class="img">
          <img src="Rectangle.png" alt="photo">
        </div>
        <div class="actions">
          <button class="star" type="button">1.83 <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0.940965L8.8394 3.87345L8.95364 4.05557L9.16441 4.09795L12.6648 4.80181L10.3013 7.25805L10.1392 7.42652L10.1645 7.65893L10.5264 10.9777L7.18936 9.61224L7 9.53476L6.81064 9.61224L3.47361 10.9777L3.83549 7.65893L3.86083 7.42652L3.69872 7.25805L1.3352 4.80181L4.83559 4.09795L5.04636 4.05557L5.1606 3.87345L7 0.940965Z"
                stroke="white" />
            </svg>
          </button>
          <p>15999</p>
        </div>
        <p class="info">
          Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black
        </p>
        <p class="info2">laptops</p>
      </div>
      <button class="add" type="button">
        ADD TO CART
      </button>
    </div>

    <div class="container">
      <div class="content">
        <div class="img">
          <img src="Rectangle.png" alt="photo">
        </div>
        <div class="actions">
          <button class="star" type="button">3.03 <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0.940965L8.8394 3.87345L8.95364 4.05557L9.16441 4.09795L12.6648 4.80181L10.3013 7.25805L10.1392 7.42652L10.1645 7.65893L10.5264 10.9777L7.18936 9.61224L7 9.53476L6.81064 9.61224L3.47361 10.9777L3.83549 7.65893L3.86083 7.42652L3.69872 7.25805L1.3352 4.80181L4.83559 4.09795L5.04636 4.05557L5.1606 3.87345L7 0.940965Z"
                stroke="white" />
            </svg>
          </button>
          <p>10999</p>
        </div>
        <p class="info">
          Ноутбук Acer Aspire 1 A315-57G-336G (NX.HZREU.01S) Charcoal Black
        </p>
        <p class="info2">laptops</p>
      </div>
      <button class="add" type="button">
        ADD TO CART
      </button>
    </div>

    <div class="container">
      <div class="content">
        <div class="img">
          <img src="Rectangle.png" alt="photo">
        </div>
        <div class="actions">
          <button class="star" type="button">2.13 <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0.940965L8.8394 3.87345L8.95364 4.05557L9.16441 4.09795L12.6648 4.80181L10.3013 7.25805L10.1392 7.42652L10.1645 7.65893L10.5264 10.9777L7.18936 9.61224L7 9.53476L6.81064 9.61224L3.47361 10.9777L3.83549 7.65893L3.86083 7.42652L3.69872 7.25805L1.3352 4.80181L4.83559 4.09795L5.04636 4.05557L5.1606 3.87345L7 0.940965Z"
                stroke="white" />
            </svg>
          </button>
          <p>19999</p>
        </div>
        <p class="info">
          Ноутбук Acer Aspire 7 A315-57G-336G (NX.HZREU.01S) Charcoal Black
        </p>
        <p class="info2">laptops</p>
      </div>
      <button class="add" type="button">
        ADD TO CART
      </button>
    </div>

    <div class="container">
      <div class="content">
        <div class="img">
          <img src="Rectangle.png" alt="photo">
        </div>
        <div class="actions">
          <button class="star" type="button">2.73 <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0.940965L8.8394 3.87345L8.95364 4.05557L9.16441 4.09795L12.6648 4.80181L10.3013 7.25805L10.1392 7.42652L10.1645 7.65893L10.5264 10.9777L7.18936 9.61224L7 9.53476L6.81064 9.61224L3.47361 10.9777L3.83549 7.65893L3.86083 7.42652L3.69872 7.25805L1.3352 4.80181L4.83559 4.09795L5.04636 4.05557L5.1606 3.87345L7 0.940965Z"
                stroke="white" />
            </svg>
          </button>
          <p>25999</p>
        </div>
        <p class="info">
          Ноутбук Acer 8 A315-57G-336G (NX.HZREU.05S) Charcoal Black
        </p>
        <p class="info2">laptops</p>
      </div>
      <button class="add" type="button">
        ADD TO CART
      </button>
    </div>

    <div class="container">
      <div class="content">
        <div class="img">
          <img src="Rectangle.png" alt="photo">
        </div>
        <div class="actions">
          <button class="star" type="button">1.99 <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0.940965L8.8394 3.87345L8.95364 4.05557L9.16441 4.09795L12.6648 4.80181L10.3013 7.25805L10.1392 7.42652L10.1645 7.65893L10.5264 10.9777L7.18936 9.61224L7 9.53476L6.81064 9.61224L3.47361 10.9777L3.83549 7.65893L3.86083 7.42652L3.69872 7.25805L1.3352 4.80181L4.83559 4.09795L5.04636 4.05557L5.1606 3.87345L7 0.940965Z"
                stroke="white" />
            </svg>
          </button>
          <p>18999</p>
        </div>
        <p class="info">
          Ноутбук Acer Aspire 5 A315-57G-336G (NX.HZREU.01S) Charcoal Black
        </p>
        <p class="info2">laptops</p>
      </div>
      <button class="add" type="button">
        ADD TO CART
      </button>
    </div>

  </div>
</body>

</html>
