<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="rating.css">
  <title>Rating</title>
</head>
<body>
<div class="rating-price">
  <p>Rating</p>
  <div class="rating">
    <span class="left-btn">
      <img src="../../images/slider-btn-icin.svg" alt="slider-btn-icon">
    </span>
    <span class="right-btn">
      <img src="../../images/slider-btn-icin.svg" alt="slider-btn-icon">
    </span>
  </div>
  <div class="price-container">
    <span class="min-price">0</span>
    <span class="max-price">5</span>
  </div>
</div>
</body>
</html>

