<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sidebar</title>
    <link href="side-style.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <div data-element="sidebar"></div>
    <form class="formFirtst">
     <div class="price">
      <h3>Price</h3>
      <span data-element="from">0 UAH</span>
      <input />Slaider
      <span data-element="to">85000 UAH</span>
    </div>
    <div>
        <fieldset>
          <legend class="name">Category</legend>
          <input type="checkbox" name="Monitors" />Monitors
          <input type="checkbox" name="Laptops" />Laptops
          <input type="checkbox" name="VideoCards" />Video cards
          <input type="checkbox" name="gamingKeyboards" />Gaming keyboards
          <input type="checkbox" name="computerMouse" />Computer mouse
          <input type="checkbox" name="ssd" />SSD
          <input type="checkbox" name="soundCards" />Sound cards
          <input type="checkbox" name="ram" />RAM
        </fieldset>
      </form>
    </div>
    <div>
      <form class="formSecond">
        <fieldset>
          <legend class="name2">Brand</legend>
          <input type="checkbox" name="asus" />Asus
          <input type="checkbox" name="acer" />Acer
          <input type="checkbox" name="apple" />Apple
          <input type="checkbox" name="dell" />Dell
          <input type="checkbox" name="Dynamode" />Dynamode
          <input type="checkbox" name="gigabyte" />Gigabyte
          <input type="checkbox" name="kingston" />Kingston
          <input type="checkbox" name="lenovo" />Lenovo
          <input type="checkbox" name="logitech" />Logitech
          <input type="checkbox" name="msi" />MSI
          <input type="checkbox" name="benq" />BenQ
          <input type="checkbox" name="a4tech" />A4Tech
        </fieldset>
      </form>
    </div>
    <div class="rating">
      <h3>Rating</h3>
      <input />Slaider2
    </form>
    </div>

  </body>
</html>
