.side-bar {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    margin-bottom: 20px;
    align-content: space-between;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0 0 0 / 14%);
    border-radius: 8px;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .side-component {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: rgb(211, 211, 211) solid 1px;
  }

  .side-component-last {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: 0 auto;
    height: auto;
    margin-bottom: 30px;
    padding-top: 20px;
  }

  .side-component-name {
    margin-bottom: 20px;
    font-size: 1.25rem;
    text-align:start;
  }

  .clear-button {
    display: flex;
    width: 280px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    border: none;
    color: white;
    text-align: center;
    display: block;
    border-radius: 8px;
    background-color: #7E72F2;
    text-transform: uppercase;
    box-shadow: 0px 2px 8px rgba(0 0 0 / 14%);
    cursor: pointer;
  }