.cart {
  height: 539px;
  width: 532px;
  border: 1px solid seagreen;
}

.block {

  width: 317px;
  margin-top: 59px;
  margin-left: 123px;
  border: 1px solid seagreen;
}

img {


  height: 200px;
  width: 293px;
  margin-top: 12px;
  margin-left: 12px;
  border: 1px solid seagreen;
}
.btn1-block {
  display: inline-block;
  justify-content: space-between;
  align-items: baseline;
}

.btn1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #7E72F2;
  color: #FFFFFF;
  height: 27px;
  width: 70px;

}


.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px;
  margin-right: 25px;
  margin-left: 25px;
}
p {
  padding-left: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;

}

h5 {
  margin-left: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #2C2C2C;
}

.btn {
  height: 40px;
  width: 317px;
  background-color: #7E72F2;
  color: #FFFFFF;
  text-transform: uppercase;
}
.star {
   margin: 0;
   height: 13px;
   width: 14px;
}
