
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Cart component</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<main>
  <div id="root">
    <!-- Cart component -->
    <div class="container">
      <div class="content">
        <div class="img">
          <img src="Rectangle.png" alt="photo">
        </div>
        <p class="info">
          Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black
        </p>
        <div class="plus-minus">
          +
        </div>
        <p>1</p>
        <div class="plus-minus">
          -
        </div>
        <div class="summ">
          <p>15999</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="img">
          <img src="Rectangle.png" alt="photo">
        </div>
        <p class="info">
          Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black
        </p>
        <div class="plus-minus">
          +
        </div>
        <p>1</p>
        <div class="plus-minus">
          -
        </div>
        <div class="summ">
          <p>15999</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="img">
          <img src="Rectangle.png" alt="photo">
        </div>
        <p class="info">
          Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black
        </p>
        <div class="plus-minus">
          +
        </div>
        <p>1</p>
        <div class="plus-minus">
          -
        </div>
        <div class="summ">
          <p>15999</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="img">
          <img src="Rectangle.png" alt="photo">
        </div>
        <p class="info">
          Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black
        </p>
        <div class="plus-minus">
          +
        </div>
        <p>1</p>
        <div class="plus-minus">
          -
        </div>
        <div class="summ">
          <p>15999</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="img">
          <img src="Rectangle.png" alt="photo">
        </div>
        <p class="info">
          Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black
        </p>
        <div class="plus-minus">
          +
        </div>
        <p>1</p>
        <div class="plus-minus">
          -
        </div>
        <div class="summ">
          <p>15999</p>
        </div>
      </div>
    </div>
    <div class="total">
      <span>Total:35000</span>

    </div>
<div class="controls">

  <button>ORDER</button>

</div>

  </div>
</main>
</body>
</html>
