<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../fonts.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="logo">Online Store</div>
      <button class="button-cart">
        <i class="icon-cart"></i>
        CART
      </button>
    </header>
  </div>
</body>
</html>
