.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 35px;
  font-weight: 300;
  color: #7E72F2;
}

.button-cart {
  width: 120px;
  height: 36px;
  color: #fff;
  background: #7E72F2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-cart:hover {
  background: #7467eb;
  transition: .4s;
}
