
body {
  width: 1450px;
  height: 1560px;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;


}
h1 {

  font-size: 250%;
  color:  #7E72F2;;
  font-family: montserrat;
  margin-left: 25px;
  margin-top: 20px;
  font-weight: 200;
}
.cart {
  width: 120px;
  height: 36px;
  color: #FFFFFF;
  background-color:  #7E72F2;
  margin-top: 28px;
}
