
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>DoubleSlider component</title>
  <link rel="stylesheet" href="style.css">

  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
<main>
  <div class="wrapper">
    <div class="container">
    <!-- DoubleSlider component -->
    <div class="slider-track"></div>
    <input type="range" min="0" max="100" value="30" id="slider-1">
    <input type="range" min="0" max="100" value="70" id="slider-2">
    </div>
  </div>
</main>
</body>
</html>
