@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './fonts.css';

@import '../../media-query-grid/css/grid.css';
@import '../../media-query-grid/css/media-grid.css';
@import '../components/header/style.css';
@import '../components/search-box/01-css-task/css/style.css';
@import '../components/card/style.css';
@import '../components/pagination/style.css';
@import '../components/double-slider/01-css-task/css/style.css';
@import '../components/filters-list/01-css-task/css/style.css';
@import '../components/side-bar/01-css-task/css/style.css';
@import '../components/cart/01-css-task/css/style.css';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.card-list__wrapper .container {
  margin-top: 45px;
}
