@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './fonts.css';

@import '../../media-query-grid/grid.css';
@import '../../media-query-grid/media-grid.css';
@import '../components/header/style.css';
@import '../components/search-box/style.css';
@import '../components/card/style.css';
@import '../components/pagination/style.css';
@import '../components/double-slider/style.css';
@import '../components/filters-list/style.css';
@import '../components/side-bar/style.css';
@import '../components/cart/style.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin-top: 20px;
}

.row {
  margin-top: 20px;
}

.card-list__wrapper .container {
  margin-top: 0;
}

.card-list__wrapper .row {
  margin-top: 0;
}
