<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Card component</title>
  <link rel="stylesheet" href="./style-pagination.css">
  <link rel="stylesheet" href="./style-CardList.css">
</head>

<body>
  <div id="root" class="wrapper1"></div>

  <script type="module">
  import OnlineStorePage from './indexMainpage.js';
  import {products} from './products.js';

    const page = new OnlineStorePage(products);
    const root = document.querySelector('#root');




    root.append(page.element);



  </script>
</body>
</html>
