@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


.Search-box{
  width: 100%;
  height: 40px;
position: relative;
}
.Input-text{
  padding: 2px 5px;
  width: 100%;
  height: 100%;
  border: 0px solid gray;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  outline: none;
}
.Search-icon{
  margin-left: 97%;
  margin-top: 10px;
  padding: 2px 5px;
  color: gray;
  position: absolute;
  cursor:auto;
}
