@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


.Pagination-wrapper {
  width: 790px;
  height: 205px;
  margin: 100px auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bi-chevron-left{
  border: 1px solid #EDEDED;
  border-radius: 50%;
  padding: 13px;
  background-color: #EDEDED;
  display: flex;
  border: none;
}

.bi-chevron-right{
  border: 1px solid #EDEDED;
  border-radius: 50%;
  padding: 13px;
  background-color: #EDEDED;
  display: flex;
  border: none;
}
.Pagination-chevron-style{
  padding: unset;
  border-radius: 50%;
  border: none;
}



.Pagination-Buttons{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #EDEDED;
  padding:unset;
  margin-right: -4px;
}
.Pagination-Active {
  background-color: #7E72F2;
  color: #fff;
}

.Pagination-Buttons:hover{
  color: #fff;
  transition: 0.7s;
  cursor: pointer;
  background-color: #7E72F2;

}

.bi-chevron-left:hover{
  background-color: #7E72F2;
  transition: 0.7s;
}
.bi-chevron-right:hover{
  background-color: #7E72F2;
  transition: 0.7s;
}

.Pagination-chevron-style:hover{
  color: #fff;
  transition: 0.7s;
  cursor: pointer;
  background-color: #7E72F2;
}




