input[type="range"] {
  position: absolute;
  appearance: none;
  width: 222px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 6px;
  left: 0;
  background-color: transparent;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 4px;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 4px;
}

input[type="range"]::-ms-track {
  appearance: none;
  height: 4px;
}

.slider {
  margin: 23px auto 0 auto;
  position: relative;
  width: 237px;
  height: 18px;
}

.slider__track {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 216px;
  height: 4px;
}

.slider__thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 6px;
  background: url("../../../icons/thumb.svg") no-repeat;
  cursor: grab;
  pointer-events: auto;
  margin-top: -7px;
}

.slider__thumb::-moz-range-thumb {
  -moz-appearance: none;
  height: 18px;
  width: 6px;
  background: ("../../../icons/thumb.svg") no-repeat;
  cursor: grab;
  border: none;
  pointer-events: auto;
  margin-top: -9px;
}

.slider__thumb::-ms-thumb {
  appearance: none;
  height: 18px;
  width: 6px;
  background: url("") no-repeat;
  cursor: grab;
  border: none;
  pointer-events: auto;
  margin-top: -9px;
}

.slider__thumb_right::-webkit-slider-thumb {
  margin-left: 6px;
  transform: rotate(180deg);
}

.slider__thumb_right::-moz-range-thumb {
  margin-left: 6px;
  transform: rotate(180deg);
}

.slider__thumb_right::-ms-thumb {
  margin-left: 6px;
  transform: rotate(180deg);
}

.slider__values {
  position: absolute;
  bottom: -23px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 5px 0;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
}
