@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?eyf1q2');
  src:  url('fonts/icomoon.eot?eyf1q2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?eyf1q2') format('truetype'),
    url('fonts/icomoon.woff?eyf1q2') format('woff'),
    url('fonts/icomoon.svg?eyf1q2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e90a";
}
.icon-cart:before {
  content: "\e901";
  color: #fff;
}
.icon-checkbox:before {
  content: "\e902";
  color: #fff;
}
.icon-minus:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-slider-left:before {
  content: "\e906";
  color: #c2cfe0;
}
.icon-slider-right:before {
  content: "\e907";
  color: #c2cfe0;
}
.icon-star:before {
  content: "\e908";
  color: #fff;
}
.icon-close:before {
  content: "\e900";
}
