html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.os-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.os-overflow-text-hidden {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.os-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart {
  outline: none;
  border: none;
  min-width: 120px;
  height: 36px;
  color: #fff;
  background: #7e72f2;
  border-radius: 3px;
}

.cart .bi {
  font-size: 1.2rem;
}

.cart-count.hidden {
  display: none;
}

.os-logo {
  display: flex;
  align-items: center;
}

.os-logo-img {
  width: 46px;
  height: 36px;
}

.os-logo-text {
  display: inline-block;
  font-weight: 600;
  font-size: 2.5rem;
  color: #7e72f2;
}

.os-breadcrumb-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.os-breadcrumb-item {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.os-products {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-gap: 20px;
}

.os-products-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 22px;
}

.os-products-title {
  font-weight: 400;
  margin-bottom: 0;
}

.wish-list {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.wish-icon {
  font-size: 1.125rem;
}

.os-products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 20px 0;
}

.os-products-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.os-product-shopping-bag {
  display: inline-block;
  margin-right: 3px;
}

.os-pagination {
  display: flex;
  align-items: center;
}

.os-pagination a {
  line-height: 1;
  text-decoration: none;
}

.os-pagination .previous,
.os-pagination .next {
  color: #000;
}

.os-pagination .previous {
  margin-right: 15px;
}

.os-pagination .next {
  margin-left: 15px;
}

.os-pagination .page-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 20px;
}

.os-pagination .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ededed;
  border-radius: 20px;
  color: #2c2c2c;
  transition: 0.3s;
}

.os-pagination .page-link:hover,
.os-pagination .page-link.active {
  background-color: #7e72f2;
  color: #fff;
}

.os-btn-white,
.os-btn-default,
.os-btn-primary {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.os-btn-primary {
  background-color: #7e72f2;
  color: #fff;
}

.os-btn-primary:hover {
  background-color: #6d5ff0;
}

.os-btn-default {
  background-color: #ededed;
  color: #000;
}

.os-btn-default:hover {
  background-color: #e3e3e3;
}

.os-btn-white {
  background-color: #fff;
  color: #606060;
}

.os-btn-white:hover {
  background-color: #f5f5f5;
}

.os-filters-panel-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 22px;
}

.os-filters-panel-title {
  margin-bottom: 0;
  font-weight: 400;
}

.os-filters-panel .toggle-filters {
  font-size: 1.125rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.os-filters-panel-content {
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.os-filters-panel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.os-filters-panel-item .os-form-checkbox {
  margin-bottom: 0;
}

.os-filters-panel-item .amount {
  display: inline-block;
  margin-left: 8px;
  font-size: 1rem;
  font-weight: 300;
  color: #2c2c2c;
}

.clear-filters {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: 1rem;
}

.os-form-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 18px;
}

.os-form-group {
  padding-top: 20px;
  padding-bottom: 20px;
}

.os-form-group.divider {
  border-bottom: 1px solid #d6d6d6;
}

.os-form-radio > input,
.os-form-checkbox > input {
  display: none;
}

.os-form-radio > input:checked + label::before,
.os-form-checkbox > input:checked + label::before {
  border-color: #7e72f2;
  background-color: #7e72f2;
  content: '✓';
  color: white;
  text-align: center;
}

.os-form-radio > label,
.os-form-checkbox > label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  color: #2c2c2c;
  cursor: pointer;
}

.os-form-radio > label::before,
.os-form-checkbox > label::before {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  margin-right: 12px;
  border: 1px solid #979797;
}

.os-form-radio > label::before {
  width: 17px;
  height: 15px;
  border-radius: 50%;
}

.os-form-checkbox > label::before {
  width: 20px;
  height: 17px;
  border-radius: 3px;
}

.os-form-input > input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.os-form-input > input:focus,
.os-form-input > input:focus-visible {
  border: none;
  outline: none;
}

.os-form-input.use-icon {
  position: relative;
}

.os-form-input.use-icon > input {
  padding-right: 70px;
}

.os-form-input.use-icon .input-icon {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  right: 40px;
  top: 0;
  font-size: 1.375rem;
  color: #606060;
}
