@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* put your styles in this file */
body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}
:root {
  --grey: #EDEDED;
  --fiolet: #7E72F2;
  --black: #2c2c2c;
  --white: #FFFFFF;

}
.os-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page-link {
  align-items: center;
  background-color: var(--grey);
  border-radius: 20px;
  color: var(--black);
  display: flex;
  height: 40px;
  justify-content: center;
  transition: .3s;
  width: 40px;
}
.page-list {
  border-radius: 20px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


.page-link.active {
  background: #7E72F2;
  color: var(--white);
  }
.next {
  margin-left:  15px;
}
.back {
  margin-right: 15px;
}

