@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 90px 0 90px;
}

.pagination ul {
  display: flex;
}

.btn-prev,
.btn-next {
  margin: 0 10px;
}

.pagination ul li a,
.btn-prev,
.btn-next {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EDEDED;
  border-radius: 20px;
  color: #2c2c2c;
  ;
}

.pagination ul li a:hover,
.btn-prev:hover,
.btn-next:hover {
  background-color: #7e72f2;
  color: #fff;
}

.pagination ul li a:focus {
  background-color: #7e72f2;
  color: #fff;
}
.btn-prev a:active,
.btn-next a:active
{
  color:#fff;
}
