@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: rgba(44, 44, 44, 1);
    --secondary-color: rgba(255, 255, 255, 1);
    --third-color: rgba(126, 114, 242, 1);
    --fourth-color: rgb(237, 237, 237);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    min-height: 1200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.pagginator {
    display: flex;
    align-items: center;
    margin: 100px auto;
    max-width: 590px;
}

.page-list {
    display: flex;
    justify-content: space-around;
}

.page-link,
.page-prev,
.page-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .3s;
    background: var(--fourth-color);
    color: var(--primary-color);
}

.page-prev {
    margin-right: 15px;
}

.page-next {
    margin-left: 15px;
} 

.page-link:hover,
.page-rev:hover,
.page-next:hover {
    cursor: pointer;
    background: var(--third-color);
    color: var(--secondary-color);
}
