@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* put your styles in this file */
.wrapper1 {
  margin: 100px auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 590px;
  height: 40px;
}

.page-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
li {
  width: 40px;
  height: 40px;
  background: #ededed;
  border-radius: 50%;
}
.page-link {
  align-items: center;
  background-color: #ededed;
  border-radius: 20px;
  color: #2c2c2c;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: 0.3s;
  width: 40px;
}
.page-link:hover {
  background: #7e72f2;
  color: white;
}
.page-link.active {
  background: #7e72f2;
  color: white;
}
