.conteiner {width: 100%;
    outline: 1px solid #000000;
    display: flex;
    flex-direction: row;}

.h-100 {height: 100%;}

.left-side {
    outline: 1px solid #000000;
    background: #F5F5F5;
    height: 100vh;
    display: flex;
    flex-direction: row;}
.left-side-naz {
    width: 100%;
    padding-left: 10px;
    font-size: 20px;}

.right-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;}
.right-side-naz {
    width: 100%;
    padding-left: 10px;
    font-size: 20px;}

.setka {outline: 1px solid #FF4500;
    text-align: center;
    background: #FFFAF0;}

@media (max-width: 576px)
    {
    .col-xs-1 {width: calc(100% / 12 * 1);}
    .col-xs-2 {width: calc(100% / 12 * 2);}
    .col-xs-3 {width: calc(100% / 12 * 3);}
    .col-xs-4 {width: calc(100% / 12 * 4);}
    .col-xs-5 {width: calc(100% / 12 * 5);}
    .col-xs-6 {width: calc(100% / 12 * 6);}
    .col-xs-7 {width: calc(100% / 12 * 7);}
    .col-xs-8 {width: calc(100% / 12 * 8);}
    .col-xs-9 {width: calc(100% / 12 * 9);}
    .col-xs-10 {width: calc(100% / 12 * 10);}
    .col-xs-11 {width: calc(100% / 12 * 11);}
    .col-xs-12 {width: calc(100% / 12 * 12);}
    }

@media (min-width: 576px)
    {
    .col-sm-1 {width: calc(100% / 12 * 1);}
    .col-sm-2 {width: calc(100% / 12 * 2);}
    .col-sm-3 {width: calc(100% / 12 * 3);}
    .col-sm-4 {width: calc(100% / 12 * 4);}
    .col-sm-5 {width: calc(100% / 12 * 5);}
    .col-sm-6 {width: calc(100% / 12 * 6);}
    .col-sm-7 {width: calc(100% / 12 * 7);}
    .col-sm-8 {width: calc(100% / 12 * 8);}
    .col-sm-9 {width: calc(100% / 12 * 9);}
    .col-sm-10 {width: calc(100% / 12 * 10);}
    .col-sm-11 {width: calc(100% / 12 * 11);}
    .col-sm-12 {width: calc(100% / 12 * 12);}
    }

@media (min-width: 768px)
    {
    .col-md-1 {width: calc(100% / 12 * 1);}
    .col-md-2 {width: calc(100% / 12 * 2);}
    .col-md-3 {width: calc(100% / 12 * 3);}
    .col-md-4 {width: calc(100% / 12 * 4);}
    .col-md-5 {width: calc(100% / 12 * 5);}
    .col-md-6 {width: calc(100% / 12 * 6 );}
    .col-md-7 {width: calc(100% / 12 * 7);}
    .col-md-8 {width: calc(100% / 12 * 8);}
    .col-md-9 {width: calc(100% / 12 * 9);}
    .col-md-10 {width: calc(100% / 12 * 10);}
    .col-md-11 {width: calc(100% / 12 * 11);}
    .col-md-12 {width: calc(100% / 12 * 12);}
    }

@media (min-width: 992px)
    {
    .col-lg-1 {width: calc(100% / 12 * 1);}
    .col-lg-2 {width: calc(100% / 12 * 2);}
    .col-lg-3 {width: calc(100% / 12 * 3);}
    .col-lg-4 {width: calc(100% / 12 * 4);}
    .col-lg-5 {width: calc(100% / 12 * 5);}
    .col-lg-6 {width: calc(100% / 12 * 6);}
    .col-lg-7 {width: calc(100% / 12 * 7);}
    .col-lg-8 {width: calc(100% / 12 * 8);}
    .col-lg-9 {width: calc(100% / 12 * 9);}
    .col-lg-10 {width: calc(100% / 12 * 10);}
    .col-lg-11 {width: calc(100% / 12 * 11);}
    .col-lg-12 {width: calc(100% / 12 * 12);}
    }

@media (min-width: 1200px)
    {
    .col-xl-1 {width: calc(100% / 12 * 1);}
    .col-xl-2 {width: calc(100% / 12 * 2);}
    .col-xl-3 {width: calc(100% / 12 * 3);}
    .col-xl-4 {width: calc(100% / 12 * 4);}
    .col-xl-5 {width: calc(100% / 12 * 5);}
    .col-xl-6 {width: calc(100% / 12 * 6);}
    .col-xl-7 {width: calc(100% / 12 * 7);}
    .col-xl-8 {width: calc(100% / 12 * 8);}
    .col-xl-9 {width: calc(100% / 12 * 9);}
    .col-xl-10 {width: calc(100% / 12 * 10);}
    .col-xl-11 {width: calc(100% / 12 * 11);}
    .col-xl-12 {width: calc(100% / 12 * 12);}
    }

@media (min-width: 1400px)
    {
    .col-xxl-1 {width: calc(100% / 12 * 1);}
    .col-xxl-2 {width: calc(100% / 12 * 2);}
    .col-xxl-3 {width: calc(100% / 12 * 3);}
    .col-xxl-4 {width: calc(100% / 12 * 4);}
    .col-xxl-5 {width: calc(100% / 12 * 5);}
    .col-xxl-6 {width: calc(100% / 12 * 6);}
    .col-xxl-7 {width: calc(100% / 12 * 7);}
    .col-xxl-8 {width: calc(100% / 12 * 8);}
    .col-xxl-9 {width: calc(100% / 12 * 9);}
    .col-xxl-10 {width: calc(100% / 12 * 10);}
    .col-xxl-11 {width: calc(100% / 12 * 11);}
    .col-xxl-12 {width: calc(100% / 12 * 12);}
    }

    @media (max-width: 576px){.disp-non {display: none;}}