<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Card component</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<main>
  <div class="wrapper">
    <!-- Card component -->
    <Div class="content-box">
      <div class="pfoto-box">
        <img src="1.jpg" alt="photocard">
     </div>

      <div class="price-card">
        <div class="box-1">
            <div class="left">
              1.23
           </div>
               <div class="right">
                 &#10032;
                </div>
        </div>
        <div class="price">
            15999
        </div>

      </Div>

    <!-- <Div class="main"> -->
      <p> Acer Aspire 3 A315-57G-336G (NX.HZ.REU.O1S) Charcoal Black </p>
    <!-- </Div> -->


  </div>





</main>
<!-- </body>
</html> -->
