@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.wrapper {
  height: 393px;
  width: 300px;

  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.133);
  border-radius: 8px;
}

.info-padding {
  padding: 0px 24px 0px 24px;
}

.item img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
}

button {
  width: 100%;
  height: 40px;
  background: #7e72f2;
  text-align: center;
  margin-bottom: 0px;
  border-radius: 0px 0px 5px 5px;
}

.add-button p {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.item-stat {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  height: 27px;
}

.item-rate {
  width: 70px;
  background: #7e72f2;
  border-radius: 3px;
}

.star {
  margin: 7px;
  font-size: 16px;
}

.item-rate p {
  font-size: 13px;
  text-align: center;
  line-height: 0px;
  color: #ffffff;
}

.item-price p {
  font-size: 15px;
  text-align: center;

  line-height: 0px;
}

.item-info {
  font-size: 13px;
}

.info {
  font-size: 10px;
}
