<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Cart component</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>
<body>
<main>
  <div id="root">
    <ul class="os-cart-main">
      <div class="os-cart-header">
        <button class="os-cart-close-btn"><i class="bi bi-x"></i></button>
      </div>
      <li class="os-cart-section">
        <div class="os-cart-img-cont os-cart-img-cont-none">
          <img class="os-cart-img" src="https://content2.rozetka.com.ua/goods/images/big_tile/163399632.jpg" alt="notebook">
        </div>
        <div class="os-cart-product-name">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
        <div class="os-cart-quantaty-count">
          <button class="os-cart-btn"><i class="bi bi-dash-circle"></i></button>
          <span>1</span>
          <button class="os-cart-btn"><i class="bi bi-plus-circle"></i></button>
        </div>
        <div class="os-cart-price">15555</div>
      </li>
      <li class="os-cart-section">
        <div class="os-cart-img-cont os-cart-img-cont-none">
          <img class="os-cart-img" src="https://content2.rozetka.com.ua/goods/images/big_tile/163399632.jpg" alt="notebook">
        </div>
        <div class="os-cart-product-name">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
        <div class="os-cart-quantaty-count">
          <button class="os-cart-btn"><i class="bi bi-dash-circle"></i></button>
          <span>1</span>
          <button class="os-cart-btn"><i class="bi bi-plus-circle"></i></button>
        </div>
        <div class="os-cart-price">15555</div>
      </li>
      <li class="os-cart-section">
        <div class="os-cart-img-cont os-cart-img-cont-none">
          <img class="os-cart-img" src="https://content2.rozetka.com.ua/goods/images/big_tile/163399632.jpg" alt="notebook">
        </div>
        <div class="os-cart-product-name">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
        <div class="os-cart-quantaty-count">
          <button class="os-cart-btn"><i class="bi bi-dash-circle"></i></button>
          <span>1</span>
          <button class="os-cart-btn"><i class="bi bi-plus-circle"></i></button>
        </div>
        <div class="os-cart-price">15555</div>
      </li>
      <li class="os-cart-section">
        <div class="os-cart-img-cont os-cart-img-cont-none">
          <img class="os-cart-img" src="https://content2.rozetka.com.ua/goods/images/big_tile/163399632.jpg" alt="notebook">
        </div>
        <div class="os-cart-product-name">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
        <div class="os-cart-quantaty-count">
          <button class="os-cart-btn"><i class="bi bi-dash-circle"></i></button>
          <span>1</span>
          <button class="os-cart-btn"><i class="bi bi-plus-circle"></i></button>
        </div>
        <div class="os-cart-price">15555</div>
      </li>
      <li class="os-cart-section">
        <div class="os-cart-img-cont os-cart-img-cont-none">
          <img class="os-cart-img" src="https://content2.rozetka.com.ua/goods/images/big_tile/163399632.jpg" alt="notebook">
        </div>
        <div class="os-cart-product-name">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
        <div class="os-cart-quantaty-count">
          <button class="os-cart-btn"><i class="bi bi-dash-circle"></i></button>
          <span>1</span>
          <button class="os-cart-btn"><i class="bi bi-plus-circle"></i></button>
        </div>
        <div class="os-cart-price">15555</div>
      </li>
      <div class="os-cart-footer">
        <div>
        Total: <span>15555</span>
        </div>
        <button class="os-cart-order-btn">Order</button>
      </div>
    </ul>
  </div>
</main>
</body>
</html>
