@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --bg-main: #ffffff;
  --main-color: #7e72f2;
  --active-color: #5c4eda;
  --element-bg-color: #ededed;
  --text-main-color: #2c2c2c;
  --text-active-color: #ffffff;
}
body {
  background-color: var(--bg-main);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: var(--text-main-color);
}
.os-cart-main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 0px;
  margin: 0 8px;

}
.os-cart-header {
  display: flex;
  justify-content: right;
  align-items: center;
  vertical-align: middle;

}
.os-cart-close-btn {
  height: 40px;
  width: 40px;
  text-align: right;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 6px;
  font-size: 2rem;
}
.os-cart-close-btn:hover {
  font-size: 2.1rem;
}
.os-cart-section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  border-radius: 8px;
  margin: 10px 0;
  /* vertical-align: middle; */
}
.os-cart-img-cont {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 10px;
}
.os-cart-img {
    max-height: 40px;
    width: 100%;
  }
.os-cart-product-name {
  /* display: flex; */
  /* vertical-align: middle; */
  /* text-align: center; */
  font-size: 0.88rem;
  padding: 0 10px;
}
.os-cart-quantaty-count {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 0.88rem;
  height: 30px;
  padding: 0 10px;
}
.os-cart-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 0 6px;
}
.os-cart-price {
  padding: 0 10px;
}
.os-cart-order-btn {
  width: 176px;
  padding: 6px 0;
  border: none;
  border-radius: 3px;
  font: inherit;
  color: var(--text-active-color);
  background: var(--main-color);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.os-cart-order-btn:hover {
  background: var(--active-color);
  transition: all 0.5s ease 0s;
}
.os-cart-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 15px;
  margin: 10px 0;
  /* vertical-align: middle; */
}

@media (max-width: 576px) {
  .os-cart-img-cont-none {
    display: none;

  }
