<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SearchBox component</title>

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100;300&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <style>
    .wrapper {
      margin: 100px 100px;
    }
  </style>
</head>
<body>
<main>
  <div class="wrapper">
    <!-- SearchBox component -->
    <div class="search-box">
      <input type="Search" class="search-input" placeholder="Search">
      <label class="bi bi-search search-icon" for="search-input"></label>
    </div>
  </div>
</main>
</body>
</html>
