<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SearchBox component</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

  <link rel="stylesheet" href="style.css">

  <style>

  </style>
</head>
<body>
<main>

  <div class="wrapper">

    <div class="search-box">
      <label for="search"></label>
      <input type="text" id="search" placeholder="Search">
      <img src="../icon/search-icon.svg" alt="search">
    </div>

  </div>

</main>
</body>
</html>
