@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

:root {
  --wite: #FFFFFF;
  --black: #000000;
  --gray: #606060;
}

.search-component {
  position: relative;
  width: 990px;
}

.search-input {
width: 100%;
height: 45px;
background: var(--wite);
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
border-radius: 8px;
border: none;
font-size: 1.2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
padding: 12px 70px 12px 20px;
color: var(--black);
box-sizing: border-box;
}

.search-icon{
  display: flex;
  color: var(--gray);
  position: absolute;
  top: 13px;
  right: 45px;
  font-size: 1.2rem;
}

.search-input:focus {
  outline: none;
}


