.search_box {
  margin: 20px auto;
  /* padding: 10px 15px; */
  height: 45px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 14%);
  overflow: hidden;
  display: flex;
  align-items: center;
}

#search-input {
  margin: 0 15px;
  width: 87%;
  border: none;
}
